<root>
  <styles>
    <include src="s2r://panorama/styles/base_styles.vcss_c" />
    <include src="s2r://panorama/styles/settings.vcss_c" />
  </styles>

  <DestinationsSettingsPanel onactivate="None();" defaultfocus="TutorialBack" >
    <Panel id="SettingsPage1" class="Page Page1 Visible" tabindex="auto" selectionpos="auto">
	  <Panel class="SettingsTop">
      <Label class="Title" text="#SettingsPage1_Title" />

   	<Button id="TutorialBack" class="BackButton"  onactivate="HideDestinationsSettings();">
		<Image class="ScrollButtonImage" src="s2r://panorama/images/content_browser/scroll_down_png.vtex" />
		<Label class="BackButtonText" text="#BackButtonText" />
	</Button>	
	  </Panel>     

      <Panel class="SettingsArea">
        <Panel class="SettingsLeft">

<!--        	<Label class="OtherLabel" text="#SetStatus" />        	
			<DropDown class="StatusDropDown" id="StatusDropDown">
			  <Label text="#StatusOnline" id="StatusOnline" />
			  <Label text="#StatusAway" id="StatusAway"/>
			  <Label text="#StatusBusy" id="StatusBusy" />
			  <Label text="#StatusOffline" id="StatusOffline"/>
			</DropDown>-->
 			
 			<Label class="BubbleTitle" text="#PersonalBubble" />
			<Slider class="PersonalBubbleSlider" id="PersonalBubbleSlider" direction="horizontal" onvaluechanged="DestinationsPersonalBubbleChanged()"/>
			<Panel class="BubbleLabels">
				<Label class="BubbleLabel" id="SmallBubble" text="#SmallBubble" />
				<Label class="BubbleLabel" id="BigBubble" text="#BigBubble" />
			</Panel>
			<Label class="BubbleDesc" text="#PersonalBubbleDesc" />   
				
			<Panel class="HorizontalDivider" id="SettingsDivider" />	
				
          	<ToggleButton id="MuteOtherPlayers" class="CheckBox" onactivate="DestinationsSettingsChanged()">
				<Label text="#MuteOtherPlayers" class="CheckboxLabel" />       		
			</ToggleButton>        	

          	<ToggleButton id="MuteMyself" class="CheckBox" onactivate="DestinationsSettingsChanged()">
				<Label text="#MuteMyself" class="CheckboxLabel" />       		
			</ToggleButton>
			
        	<ToggleButton id="HidePlayerNames" class="CheckBox" onactivate="DestinationsSettingsChanged()">
				<Label text="#HidePlayerNames" class="CheckboxLabel" />       		
			</ToggleButton>
     	
        </Panel>

	    <Panel class="SettingsRight">
	    	<Button class="ResetAnchorButton DestinationButton" id="ResetAnchorButton" onactivate="DestinationsResetAnchor()">
          <Label class="ResetAnchorButtonLabel" text="#ResetAnchorButtonText" />
	    	</Button>
			<Label class="BubbleDesc" text="#ResetAnchorDesc" />  
	    </Panel>

      </Panel>


      <!--			<Button id="FirstNavButton" class="NavButton" onactivate="AddStyle( SettingsPage2, Visible ); RemoveStyle( SettingsPage1, Visible ); SetInputFocus( SecondNavButton );" >
				<Label text="#SettingsPage_Next" />
			</Button>		-->
    </Panel>

  </DestinationsSettingsPanel>
</root>
