Protobufs/google/
.support/
*staged_*
*.dylib
*.dll
*.exe
*.so
*.vpk
*.vpk.manifest.txt
*.bin

resources/webinterface/dashboard/**/*.js
resources/webinterface/dashboard/**/*.css
node_modules/
package-lock.json

# Ignore all translations
**/*_brazilian*.json
**/*_brazilian*.txt
**/*_bulgarian*.json
**/*_bulgarian*.txt
**/*_czech*.json
**/*_czech*.txt
**/*_danish*.json
**/*_danish*.txt
**/*_dutch*.json
**/*_dutch*.txt
**/*_finnish*.json
**/*_finnish*.txt
**/*_french*.json
**/*_french*.txt
**/*_german*.json
**/*_german*.txt
**/*_greek*.json
**/*_greek*.txt
**/*_hungarian*.json
**/*_hungarian*.txt
**/*_indonesian*.json
**/*_indonesian*.txt
**/*_italian*.json
**/*_italian*.txt
**/*_japanese*.json
**/*_japanese*.txt
**/*_korean*.json
**/*_korean*.txt
**/*_koreana*.json
**/*_koreana*.txt
**/*_latam*.json
**/*_latam*.txt
**/*_norwegian*.json
**/*_norwegian*.txt
**/*_polish*.json
**/*_polish*.txt
**/*_portuguese*.json
**/*_portuguese*.txt
**/*_romanian*.json
**/*_romanian*.txt
**/*_russian*.json
**/*_russian*.txt
**/*_schinese_pw*.json
**/*_schinese_pw*.txt
**/*_schinese*.json
**/*_schinese*.txt
**/*_spanish*.json
**/*_spanish*.txt
**/*_swedish*.json
**/*_swedish*.txt
**/*_tchinese*.json
**/*_tchinese*.txt
**/*_thai*.json
**/*_thai*.txt
**/*_turkish*.json
**/*_turkish*.txt
**/*_ukrainian*.json
**/*_ukrainian*.txt
**/*_vietnamese*.json
**/*_vietnamese*.txt
