:root {
  --app-background-opaque: #1a1818;
  --app-text-highlight: #5380f2;
  --transitionspeed-hover: 0.15s;

  /* == Text == */
  --title-color: #fff;
  --title-size: 1.5rem;
  --description-color: #aeb0b3;
  --description-size: 0.8rem;

  /* == Buttons == */
  --button-background: #5380f2;
  --button-background-hover: #69b4ff;
  /* alt is used for icon-style buttons (such as the settings window root) */
  --button-backgroundalt: #1a1818;
  --button-backgroundalt-hover: #2a3746;
  --button-text: #fff;
  /* decline styles are used for cancel-like actions */
  --button-background-decline: #364c85;

  /* == Checkboxes == */
  --checkbox-border: #4261b1;
  --checkbox-border-hover: #5380f2;
  --checkbox-color: #fff;

  /* == Radio buttons == */
  --radio-border: #4568c0;
  --radio-background: #1f232f;
  --radio-text: #ffffff;
  --radio-border-selected: #5380f2;
  --radio-background-selected: #364c85;

  /* == Drop downs == */
  --dropdown-border: #4568c0;
  --dropdown-background: #1f232f;
  --dropdown-text: #ffffff;
  --dropdown-border-selected: #5380f2;
  --dropdown-background-selected: #364c85;

  /* == input type=range sliders control == */
  --slider-trackcolor: #2c3a60;
  --slider-trackborder: #4365ba;
  --slider-thumbcolor: #dedede;
  --slider-thumbcolor-hover: #ffffff;

  /* == Color sliders == */
  --colorslider-bar-width: 1rem;

  --hr-color: rgba(255, 255, 255, 0.4);

  --loadingthrobber-color: #69b4ff;

  /* Untouched since restyle. These can be modified! */

  --applabelsolid: #f2f2f2;
  --bordercolor: #004777;
  --descriptiontext: #88ccf1;
  --titletext: #ffffff;
  --disabledtext: #5b6169;
  --defaulttext: #ffffff;
  --selectedtext: #43b8e7;

  --buttondefault: #1f3452;
  --buttonhover: #2978a0;

  --pageheaderbottomborder: #476288;
  --pagetitlebackground: #324b6d;
  --modalheaderbottomborder: rgb(139, 129, 122);

  --modalbackground: #161c2c;
  --bindinglistheaders: lightgray;
  --bindinglistdetails: lightgray;
  --bindingsourceheader: #ffffff;
  --sourcemodegroupbackground: #1e2230;
  --sourcemodehover: #253b5a;
  --bindingmodeedit: #13335f;
  --chordbindingsetbackground: #324b6d;
  --chordbindingrowbackground: #1f3452;

  --tabborderbottom: rgb(91, 82, 77);
  --tabborderbottomtab: rgb(127, 117, 112);
  --tabborderbottomselected: rgb(86, 142, 172);
  --tabbackground: #1f3452;
  --tabbackgroundselected: #2978a0;
  --tabbackgroundhovered: #2f7091;

  --backbuttonbackground: #4a6c9b;
  --backbuttonbackgroundhover: #307fa7;
  --backbuttonborder: rgb(130, 122, 116);

  --poseactionsbackground: #1f3452;
  --poseactiontitle: #ffffff;
  --poseactionlistentry: #31496b;

  --button-fade-time: 0.15s;
  --loading-fade-time: 0.3s;
  --controller-image-margin: 2rem;

  --warningbackground: rgb(179, 68, 40);
  --warningbackgroundselected: rgb(212, 93, 63);
  --errorbackground: rgb(134, 65, 46);

  --pagecontenttoppadding: 1rem;

  --bindinglistcurrentsectionborder: rgb(25, 90, 116);
  --bindinglistdetailsbackground: #1c2736;
  --bindinglistdetailsborder: #354458;
  --controllertypebackground: #0e111d;

  --inputbordercolor: rgb(86, 142, 172);
  --inputbackgroundcolor: rgb(12, 47, 61);
  --inputtextcolor: rgb(255, 255, 255);
  --inputborderradius: 0.1rem;
  --inputfontsize: 1.2rem;

  --scrollbar-width: 1.3rem;
  --scrollbar-border-width: 0.45rem;
  --scrollbar-color: var(--button-background);
  --scrollbar-color-hover: var(--button-background-hover);

  --text-font: "Motiva Sans", "Arial";

  /* Establish 1rem -> 16px */
  font-size: 16px;
}

html {
  overflow: hidden;
  background: none;
  font-family: var(--text-font);
  font-weight: normal;
  height: 100%;
}

body {
  background: var(--app-background-opaque);
  margin: 0;
  overflow: hidden;
  height: 100%;
  user-select: none;
  transition: opacity var(--loading-fade-time);
  opacity: 1;
}

hr {
  height: 0px;
  border: 0;
  border-top: 0.2rem solid var(--hr-color);
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  margin-bottom: 0.5rem;
  height: 100%;
}

.FullPage {
  width: 100%;
  height: 100%;
}

.FullWidth {
  width: 100%;
}

.Label {
  font-size: 1rem;
  font-weight: normal;
  color: var(--defaulttext);
  display: inline;
}

.Label.Title {
  font-size: var(--title-size);
  color: var(--title-color);
}

.Label.Description {
  font-size: var(--description-size);
  color: var(--description-color);
}

.Label.Error {
  border-color: red;
  background-color: #494402;
  border-width: 0.5rem;
}

.Label .Highlight {
  color: var(--app-text-highlight);
}

.ButtonControl {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--button-text);
  opacity: 1.0;
  margin: 0.8rem 0;
  padding: .5rem 1rem .5rem 1rem;
  background: var(--button-background);
  align-self: center;
  transition-property: background-color;
  transition-timing-function: ease-out;
  transition-duration: var(--transitionspeed-hover);
  cursor: pointer;
  text-align: center;
}

.ButtonControl:hover {
  background: var(--button-background-hover);
}

.ButtonControl.Decline {
  background: var(--button-background-decline);
}

.ButtonControl.Decline:hover {
  background: var(--button-background);
}

.ButtonControl.Inline {
  display: inline-block;
  white-space: nowrap;
}

body .rodal {
  cursor: default;
  outline: none;
}

body .rodal-dialog {
  border: 1px solid var(--bordercolor);
  background: var(--modalbackground);
}

.FlexRow {
  display: flex;
  flex-direction: row;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.FlexFullHeightColumnCentered {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FlexColumnCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FlexFullWidthRowLeftJustified {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.FlexRightAlignChild {
  margin-left: auto;
}

.FlexRowWithWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PositionRelative {
  position: relative;
}

.AllCaps {
  text-transform: uppercase;
}

.Capitalize {
  text-transform: capitalize;
}

.ToggleMirror {
  font-size: 1.2rem;
  margin-top: 6px;
  text-align: center;
}

.VerticalPageWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.PageTitleBar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border: var(--scrollbar-border-width) solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 100px;
  background-color: var(--scrollbar-color);
  transition: background var(--transitionspeed-hover) ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}

::-webkit-scrollbar-thumb:active {
  border-width: calc(0.8 * var(--scrollbar-border-width));
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.Section {
  display: flex;
  flex-direction: column;
  color: antiquewhite;
}

.SectionRow {
  display: flex;
  flex-direction: row;
}

.SectionHeader {
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.FieldName,
.FieldValue {
  display: flex;
  min-width: 12rem;
}

.TabButtonRow {
  display: flex;
  flex-direction: row;
}

.TabButton {
  color: white;
  background-color: cadetblue;
  border-color: cornflowerblue;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.TabButton:hover {
  background: cornflowerblue;
}

.TabSelected {
  background: lightsalmon;
}

.ShowHideLink {
  margin-left: 1rem;
  color: lightcoral;
  text-decoration: underline;
}

.SectionAdditionalDetails {
  white-space: pre;
  font-family: monospace;
  color: greenyellow;
}

.ContentArea {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.JsonNumber,
.JsonBoolean,
.JsonString,
.JsonObject {
  color: lightgoldenrodyellow;
}

.JsonUnknown {
  color: red;
}

.JsonObjectProperty {
  margin-left: 2rem;
}

.LogFileName,
.LogRunDate {
  color: antiquewhite;
}

.LogFileName:hover,
.LogRunDate:hover {
  background: cornflowerblue;
}

.LogFileName.Selected,
.LogRunDate.Selected {
  background: coral;
}

.LogFileList,
.LogRunList {
  min-width: 20rem;
  height: 10rem;
  overflow: auto;
  border-color: papayawhip;
  border-width: 1px;
  border-style: solid;
}

.LogContent {
  width: 100%;
  height: 100%;
  overflow: auto;
  color: turquoise;
  white-space: pre;
  font-family: monospace;
}

body {
  user-select: unset;
}

.BigMessage {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  color: white;
}

.ContainerHandle {
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 0.4rem;
}

.PropertyPathName,
.PropertyEnumName {
  margin-left: 1rem;
  width: 25rem;
}

.PropertyEntry {
  display: flex;
  flex-direction: row;
  padding-top: 0.1rem;
}

.PropertyValueString,
.PropertyValueNumber,
.PropertyValueUnknown {
  color: antiquewhite;
}
