.WorldUIRoot
{
	width: 100%;
	height: 100%;
	box-shadow: inset #ffffff00 0px 0px 0px 0px;
	transition-property: box-shadow;
	transition-duration: 0.13s;
}

// when the panel is grabbed, we make it "glow"
.Glowing
{
	//box-shadow: inset #a3cf06aa 12px 12px 2px 24px;
	box-shadow: inset #ffffffaa 4px 4px 2px 8px;
}

.Visible 
{
	opacity: 1;
}

.Hidden
{
	opacity: 0;
}
