/*------------------
   OUTER WRAPPER 
------------------*/

SteamToursFriends {
	//background-color: red; 
	flow-children: none;
	width: 100%;
	height: 100%;
	//border-radius: 10px;
	opacity: 1;

	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

#FriendsWrapperPanel {
	width: 100%;
	height: 100%;
}

.GamepadController SteamToursFriends {
	opacity: .3;	
}

.ViewFocus.GamepadController SteamToursFriends {
	opacity: 1;	
}

.InSteamVRTutorial SteamToursFriends,
.Tutorial SteamToursFriends,
.Teleported SteamToursFriends {
	opacity: 0;
}

/*------------------
  FRIENDS PANEL TOGGLE
------------------*/

.DestinationButton Label {
	vertical-align: center;	
}

.FriendsToggle {
	flow-children: none;
	vertical-align: bottom;
	horizontal-align: left;
	background-color: none;	
}

.FriendsToggleOff,
.FriendsToggleOn {
	width: 100px;
	height: 100px;
	flow-children: none;
	border-radius: 5px;
	visibility: collapse;
	margin-right: 10px;
	background-color: button_gradient;
	border: 2px solid #ffffff20;
	pre-transform-scale2d: 1;
	transition-property: border, background-color, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.FriendsToggleOn {
	width: 350px;
	height: 240px;
	background-color: none;
	border: 0px solid #ffffff20;
}

.FriendsToggleOff:hover,
.FocusOnEnable .FriendsToggleOff:focus,{
	background-color: button_gradient_hover;	
	pre-transform-scale2d: 1;
	border: 2px solid white;
	//box-shadow: button_glow 0px 0px 10px 0px;
}

.FriendsToggleOn:hover .FriendsToggleImage,
.FocusOnEnable .FriendsToggleOn:focus .FriendsToggleImage{
	background-color: ui_color_full;	
	pre-transform-scale2d: 1;
	border: 2px solid white;
	//box-shadow: button_glow 0px 0px 10px 0px;
}

.FriendsToggleOff:active{
	background-color: button_gradient_bright;
	pre-transform-scale2d: .97;	
}

.FriendsToggleOn:active .FriendsToggleImage{
	background-color: button_gradient_bright;
	pre-transform-scale2d: .97;	
}

.FriendsToggleOn:active{
	pre-transform-scale2d: .97;	
}

.FriendsToggleImage{
	vertical-align: bottom;
	width: 100px;
	height: 100px;
	border: 2px solid #ffffff20;
	border-radius: 5px;
	transition-property: border, background-color, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.FriendsToggleLabel
{
	width: 220px;
	margin-left: 100px;
	vertical-align: bottom;
	background-color: background_gradient;
	height: 94px;
	border-radius: 0px 5px 5px 0px;
	opacity:.8;		
	transition-property: opacity, background-color, border;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.ViewFocus .FriendsToggleLabel{
	background-color: button_gradient_bright;
	//when an x-input controller user looks at a panel, it highlights
}

.FriendsToggleLabelText
{
	font-size: 40px;
	color: white;
	vertical-align: center;
	margin-left: 30px;
}

.FriendsToggleOn:hover .FriendsToggleLabel,
.FocusOnEnable .FriendsToggleOn:focus .FriendsToggleLabel{
	opacity: 1;
	//background-color: ui_color_full;
}

.FriendsControllerHint
{
	width: 320px;
	height: 120px;
	border-radius: 10px;
	background-color: #000000aa;
	visibility: collapse;	
}

.FriendsControllerHintText
{
	color: white;
	font-size: 30px;
	padding: 20px;
}


.FocusOnEnable .FriendsControllerHint
{
	visibility: visible;	
}

.HorizontalLine {
	// minimize button
	width: 35px;
	height: 4px;
	horizontal-align: center;
	vertical-align: center;
	background-color: white;
}

.FriendsMain {
	width: 700px;
	height: 100%;
	flow-children: down;
	opacity: 0;
	margin-left: 110px;
}

.FriendsMaximized .FriendsMain{
	opacity: 1;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;	
}


.FriendsMaximized .FriendsToggleOff,
.FriendsMinimized .FriendsToggleOn {
	visibility: visible;
}

.FriendsMinimized .FriendsMain{
	opacity: 0;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;		
}


/*---------------------
     TITLE PANEL 
---------------------*/

.FriendsTitleBar {
	width: 100%;
	height: 150px;
	flow-children: right;
	background-color: background_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
	transition-property: border;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.ViewFocus .FriendsTitleBar{
	//background-color: ui_color_dark;
	//border: 4px solid ui_color;
}

.Friends_Title {
	font-size: 55px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
}


/*---------------------------
	       TABS
---------------------------*/


.SocialTabs{
	vertical-align: center;	
	horizontal-align: center;
	flow-children: right;
	visibility: collapse;
	margin-left: 120px;
}

.Friends_Title
{
	visibility: collapse;	
}

.SocialTabs
{
	visibility: visible;	
}

.SocialTabs Label
{
	font-size: 35px;
	vertical-align: center;
	horizontal-align: center;
}

#LobbiesTab {
	border-radius: 5px 0px 0px 5px;
	border-right: 0px;	
	width: 220px;
}

#FriendsTab {
	flow-children: right;
	border-radius: 0px 5px 5px 0px;
	border-left: 0px;
	width: 220px;
}

#LobbiesTab:active,
#FriendsTab:active
{
	pre-transform-scale2d: 1;	
}

.HasPendingInvites #FriendsTabText{
	width: fit-children;
	margin-left: 30px;
}


.VerticalDivider{
	width: 2px;
	height: 100px;
	background-color: #ffffff20;
}


.ShowFriendList #FriendsTab,
.ShowFriendDetail #FriendsTab,
.ShowLobbyList #LobbiesTab,
.ShowLobbyDetail #LobbiesTab,
.ShowLobbyMemberDetail #LobbiesTab {
	background-color: button_gradient_bright;
}

.ShowFriendList #FriendsTab:focus,
.ShowFriendDetail #FriendsTab:focus,
.ShowLobbyList #LobbiesTab:focus,
.ShowLobbyDetail #LobbiesTab:focus,
.ShowLobbyMemberDetail #LobbiesTab:focus {
	background-color: button_gradient_bright;
	//box-shadow: button_glow 0px 0px 10px 0px;
}


/*------------------
     ALERT DOT  
------------------*/

// shows up on friends toggle when player is invited to a Destination

.AlertPanel
{
	height: 60px;
	width: 60px;
	background-color: #c81f1f;
	border: 2px solid black;
	vertical-align: bottom;
	horizontal-align: left;
	border-radius: 50px;
	margin-left: 60px;
	margin-bottom: 60px;
	visibility: collapse;
}

.AlertPanelText
{
	color: white;
	font-size: 42px;
	font-weight: normal;
	horizontal-align: center;
	vertical-align: center;	
}

#FriendsTab .AlertPanel
{
	height: 40px;
	width: 40px;
	vertical-align: center;
	margin: 0px 0px 0px 10px;
	//border: 2px solid #c81f1f;
	background-color: #c81f1f;
}

#FriendsTab .AlertPanelText
{
	color: white;
	font-size: 30px;
	font-weight: normal;
	horizontal-align: center;
	vertical-align: center;	
}

.HasPendingInvites .AlertPanel
{
	visibility: visible;
}


/*----------------------------
     BOTTOM PANEL WRAPPER
----------------------------*/

.FriendsBottom {
	width: 100%;
	height: 900px;
	flow-children: none;
	opacity: 1.0;
//	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000bb ), to( #00000020 ) );
//	background-color: #151515fa;
	background-color: background_center_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
	margin-top: 5px;

	transition-property: opacity, transform;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.ShowLobbyDetail .FriendsBottom {
	background-color: none;
	border: 0px;	
}

.FriendsLeft {
	width: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}	

/*---------------------------
        FRIENDS LIST 
---------------------------*/

.FriendsContainer
{
	width: 100%;
	visibility: collapse;
}

.FriendsContentContainer {
	margin-top: 0px;
	width: 100%;
	flow-children: right;
}

.ContentContainer {
	width: 100%;
	//height: 850px;
	height: fit-children;
	flow-children: right-wrap;
	padding: 30px 30px 0px 30px;
	overflow: clip scroll;
}

/*---------------------------
        LOBBY DETAIL 
---------------------------*/


.LobbyDetail
{
	width: 100%;
	height: 900px;
	visibility: collapse;
	flow-children: down;
	opacity: 1.0;
	background-color: background_center_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
	margin-top: 5px;

	transition-property: opacity, transform;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.LobbyDestinationTitle
{
	flow-children: down;
	width: fit-children;
	max-width: 400px;
	vertical-align: center;
	horizontal-align: left;	
	margin-left: 130px;
}

.LobbyDestinationHeader
{
	color: #999999ff;
	font-size: 35px;
	height: 45px;
}

.LobbyDestination
{
	color: white;
	font-size: 45px;
	height: 50px;
}

.LobbyDestinationItem
{
	color: white;
	font-size: 35px;
	height: 40px;
}

.LobbyDetailContainer
{
	width: 100%;	
}

#LeaveLobbyButton,
#CloseLobbyButton,
#QuickCloseLobbyButton
{
	horizontal-align: left;
	width: 475px;
	margin-left: 30px;
	margin-top: 20px;
}

#LeaveLobbyButton,
#CloseLobbyButton,
#QuickCloseLobbyButton,
#LobbyTitleVisitingText,
#LobbyTitleHostingText {
	visibility: collapse;	
}

.IsHostingPublicLobby #QuickCloseLobbyButton,
.IsHostingPublicLobby.LobbyHasVisitors #CloseLobbyButton,
.IsVisitingPublicLobby #LeaveLobbyButton,
.IsHostingPublicLobby #LobbyTitleHostingText,
.IsVisitingPublicLobby #LobbyTitleVisitingText,
.IsHostingFriendsOnlyLobby #QuickCloseLobbyButton,
.IsHostingFriendsOnlyLobby.LobbyHasVisitors #CloseLobbyButton,
.IsVisitingFriendsOnlyLobby #LeaveLobbyButton,
.IsHostingFriendsOnlyLobby #LobbyTitleHostingText,
.IsVisitingFriendsOnlyLobby #LobbyTitleVisitingText
{
	visibility: visible;
}

.IsHostingPublicLobby.LobbyHasVisitors #QuickCloseLobbyButton,
.IsHostingFriendsOnlyLobby.LobbyHasVisitors #QuickCloseLobbyButton{
	visibility: collapse;	
}


#LobbyScrollContainer
{
	overflow: clip scroll;			
}


/*------------------------
     FRIEND ITEM STYLES 
-------------------------*/

.FriendsItem {
	flow-children: down;
	width: 475px;
	min-height: 140px;
	padding: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: background_center_gradient_dark;
	box-shadow: none;
	border: 2px solid #ffffff20;
	opacity: 1;

	transition-property: border, wash-color, background-color, box-shadow, width, height;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.FriendsItemInfo
{
	flow-children: right;
}

.FriendsAvatar {
	width: 140px;
	height: 140px;
	border-radius: 5px;
	margin: 0px;
	opacity: .95;
	saturation: 0.8;
	transition-property: opacity, saturation;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.FriendsItemRight
{
	flow-children: down;
	margin-left: 20px;
	horizontal-align: center;
	vertical-align: center;
}

.ShowFriendDetail .FriendsItemRight
{
	margin-left: 0px;
}


.ShowFriendDetail .FriendsItemRight Label
{
	text-align: center;
	margin: 0px;
	margin-bottom: 5px;
	horizontal-align: center;
}

.FriendNames
{
	flow-children: right;
	width: 400px;
	horizontal-align: left;
}

.FriendsName
{
	color: white;
	font-size: 35px;
	margin-bottom: 3px;
	horizontal-align: left;
}

.ShowFriendDetail .FriendsName
{
	horizontal-align: center;
}

.FriendsNick 
{
	//horizontal-align: center;
	visibility: collapse;
}

.HasNick .FriendsNick 
{
	visibility: visible;
	color: #ffffff66;
	font-size: 35px;
	margin-bottom: 3px;
	margin-left: 10px;
	//padding-left: 10px;
}

/* Code sets one of these four classes:
		InGame, InDestinations, Offline, Online
    Also sets this if user is away while online:
		Away
*/

.Offline .FriendsAvatar,
.Offline .FriendsItemRight 
{
	saturation: 0;
	opacity: .1;	
}

.FriendStatus
{
	font-size: 25px;
	visibility: visible;
}

.FriendAppTitle,
.InGame.InDestinations .FriendAppTitle
{
	font-size: 25px;
	color: green;
	//color: #ffffffaa;
	visibility: collapse;
}

.InGame .FriendAppTitle
{
	//visibility: visible;
	//doesn't work
}

.InDestinations .FriendStatus
{
	color: green;
}

.InGame .FriendStatus
{
	color: green;
}

.Online .FriendStatus
{
	color: white;
}

.Offline .FriendStatus
{
	color: #ffffff99;
}

.Away .FriendStatus
{
	color: grey;
}

.FriendDestination
{
	visibility: collapse;
}

.HasDestination .FriendDestination
{
	//color: #ffffffaa;
	color: green;
	font-size: 24px;
	visibility: visible;
}

//.InDestinations .FriendDestination


.FriendInvited
{
	visibility: collapse;
}

.Invited .FriendInvited
{
	color: #ffffffaa;
	font-size: 24px;
	visibility: visible;
}

.FriendsItem:hover, 
.FocusOnEnable .FriendsItem:focus {
	//box-shadow: button_glow 0px 0px 5px 0px;
	border: 2px solid white;
}

.FriendsItem:active {
	pre-transform-scale2d: .97;
}

.FriendsItem:hover,
.FocusOnEnable .Item:focus {
	background-color: #000000aa;
}

.FriendsItem:hover .FriendsAvatar,
.FocusOnEnable .Item:focus .FriendsAvatar {
	opacity: 1;
	saturation: 1;
}

.LobbyDetail .FriendStatus,
.LobbyDetail .FriendDestination {
	visibility: collapse;	
}

.LobbyDetail .FriendNames Label {
	font-size: 40px;
	margin-left: 20px;	
}

.IsTheHost {
	//color: ui_color_bright;
	color: #e9d02bff;
	font-size: 30px;
	margin-left: 20px;
	visibility: collapse;	
}

.IsLobbyHost .IsTheHost{
	visibility: visible;
}

.ShowFriendList .IsTheHost{
	visibility: collapse;
}


/*---------------------------
     SCROLL BUTTONS AREA 
---------------------------*/

.Scrolling .FriendsRight {
	horizontal-align: right;
	flow-children: down;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000bb ), to( #00000020 ) );
	//border-radius: 10px;
	//border: 4px solid #00000088;
	background-color: none;
	width: 180px;
	height: 100%;
	visibility: visible;
	margin-top: 190px;
	margin-left: 10px;
}	

.ShowLobbyDetail .FriendsRight {
	margin-top: 95px;	
}

.FriendsRight {
	visibility: collapse;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	// for fade in and out when bringing in Item Details
}	

.FriendsRight {
	visibility: collapse;
}

.FocusOnEnable .Scrolling  .FriendsRight {
	visibility: collapse;
}

.ScrollButtonWrapper {
	flow-children: down;
	height: 300px;
	width: 100%;
	margin-bottom: 140px;
	vertical-align: center;
	background-color: none;
	margin-left: 40px;
}

#ScrollButtonUp,
#ScrollButtonDown {
	width: 100px;
	height: 100px;
}

#ScrollButtonDown {
	margin-top: 35px;
}


.LobbiesContainer .ScrollButtonUp,
.LobbiesContainer .ScrollButtonDown 
{
	opacity: 1;
}

.InfoScrollingUp .ScrollButtonUp {
	opacity: 1;
}

.InfoScrollingDown .ScrollButtonDown {
	opacity: 1;
}



/*------------------
     FRIEND DETAIL
------------------*/

.FriendDetail,
.LobbyMemberDetail
{
	width: 100%;
	height: 900px;
	visibility: collapse;
	flow-children: down;
	opacity: 1.0;
	background-color: background_center_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
	margin-top: 5px;

	transition-property: opacity, transform;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.FriendDetailTop
{
	width: 100%;
	height: 150px;
	//background-color: #000000cc;
	background-color: background_center_gradient_dark;
	flow-children: none;
}

.FriendDetailTop .FriendNames
{
	vertical-align: center;
	horizontal-align: center;
	//padding-right: 175px;
}

.FriendDetailTop .FriendNames Label
{
	font-size: 45px;
}

.FriendsDetailAvatar
{
	//margin-left: 20px;
	margin-bottom: 20px;
}

.FriendRightTop
{
	flow-children: down;	
	horizontal-align: center;
}

.FriendsAvatarDetail
{
	height: 330px;
	width: 330px;
}

.LobbyMemberDetail .FriendsAvatarDetail
{
	margin-top: 30px;	
}

.FriendDetailBottom
{
	flow-children: down;
	margin-top: 30px;
	margin-left: 0px;
	horizontal-align: center;
	//vertical-align: center;
}

.FriendButtons
{
	flow-children: right;
	margin-top: 20px;
	margin-left: 0px;
	horizontal-align: center;
}

.FriendButtonsLeft, 
.FriendButtonsRight
{
	flow-children: down;
}


.ShowFriendDetail .FriendButtons {
	//margin-top: 50px;
}


#FriendsDetailItemRight Label
{
	font-size: 40px;
}


.FriendDescription
{
	margin-left: 20px;
	margin-top: 20px;
	width: 80%;	
}

.FriendButtons .DestinationButton
{
	width: 330px;	
}

.FriendButton {
//	width: 280px;
	width: 330px;
//	width: 360px;
	height: 100px;
	margin: 8px 10px 10px 10px;
	border-radius: 10px;	
	background-color: #000000aa;
	border: 3px solid #ffffff20;
	color: white;
	horizontal-align: right;
	pre-transform-scale2d: 1;
	transition-property: border, background-color, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.FriendButton:enabled:hover,
.FocusOnEnable .FriendButton:enabled:focus
{
	background-color: ui_color_mid;	
	pre-transform-scale2d: 1;
	border: 2px solid white;
	//box-shadow: button_glow 0px 0px 10px 0px;
}

.FriendButton:active {
	pre-transform-scale2d: .95;
}

.FriendButton Label
{
	font-family: platformfont;
	font-size: 35px;
	font-weight: light;
	color: white;
	width: 100%;
	text-align: center;
	vertical-align: center;
	
	transition-property: color;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.BackButton,
.BackButton:focus{
	width: 100px;
	height: 100px;
	margin-left: 30px;
	border-radius: 5px;	
	background-color: button_gradient;
	border: 2px solid #ffffff20;
  	vertical-align: center;
	pre-transform-scale2d: 1;
	transition-property: transform, border, background-color, opacity, pre-transform-scale2d, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.BackButton .ScrollButtonImage {
	transform: rotateZ( 90deg );
}

.BackButton:hover,
.FocusOnEnable .BackButton:focus{
	//box-shadow: button_glow 0px 0px 10px 0px;
	background-color: button_gradient_hover;	
	pre-transform-scale2d: 1;
	border: 3px solid white;
}

#LobbyMemberKick
{
	width: 130px;
	height: 100px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 35px;
}

#LobbyMemberKick:hover
{
	background-color: red;
	box-shadow: none;	
}

.BackButton:active{
	pre-transform-scale2d:.97;
}

/* if not hosting, then cannot invite */
#FriendInviteButton Label
{
	color: grey;
}
#FriendInviteButton:enabled Label
{
	color: white;
}
/* Grey out join button unless its joinable */
#FriendJoinButton Label
{
	color: grey;
}
#FriendJoinButton:enabled Label
{
	color: white;
}

#FriendJoinButton
{
	margin-top: 10px;	
}

#LobbyMemberMute
{
	visibility: collapse;
}
.CanMute.Unmuted #LobbyMemberMute
{
	visibility: visible;
}

#LobbyMemberUnmute
{
	visibility: collapse;
}
.CanMute.Muted #LobbyMemberUnmute
{
	visibility: visible;
}


#LobbyMemberKick
{
	visibility: collapse;
}

.CanKick #LobbyMemberKick
{
	visibility: visible;
}

#LobbyMemberAdd
{
	visibility: collapse;
}

.CanAdd #LobbyMemberAdd
{
	margin-top: 15px;
	visibility: visible;
}

/*------------------
     LOBBY TAB 
------------------*/

.LobbiesContainer
{
	width: 100%;
	visibility: collapse;
}

.LobbiesTop{
	width: 100%;
	height: 150px;
	background-color: background_center_gradient_dark;
	//flow-children: right;	
	flow-children: none;
	horizontal-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.LobbiesBottom {
	width: 100%;
	height: 900px;
	flow-children: none;
	opacity: 1.0;
//	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000bb ), to( #00000020 ) );
	background-color: background_center_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
	margin-top: 5px;

	transition-property: opacity, transform;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.LobbyDescription
{
	color: #ffffff77;
	font-size: 30px;
	margin-top: 20px;	
	width: 470px;
	margin-left: 35px;
	visibility: collapse;
}

.IsHostingPublicLobby .LobbyDescription,
.IsVisitingPublicLobby .LobbyDescription
{
	visibility: collapse;
}

.LobbyTempText
{
	color: white;
	font-size: 40px;
	padding: 60px;
}

.LobbyItem {
	flow-children: down;
	width: 475px;
	min-height: 140px;
	//min-height: 1000px;
	padding: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #000000cc;
	box-shadow: none;
	//border: 4px solid #ffffff00;
	border: 2px solid #ffffff20;	
	opacity: 1;

	transition-property: border, background-color, wash-color, box-shadow, width, height;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

//SteamVR Beta branch lobby shenanigans

.LobbyItem.InBeta,
.Branch_Beta .LobbyItem
{
	visibility: collapse;
}

.Branch_Beta .LobbyItem.InBeta
{
	visibility: visible;
}

.BetaDesc
{
	color: #ffffff77;
	font-size: 30px;
	margin: 10px 150px 0px 30px;
	visibility: collapse;
}

.WorldPanelPublicLobbies .BetaDesc
{
	color: #ffffff77;
	font-size: 45px;
	margin: 20px 60px 0px 60px;
}

.Branch_Beta .BetaDesc
{
	visibility: visible;
}

.WorldPanelPublicLobbies.IsHostingPublicLobby .BetaDesc,
.WorldPanelPublicLobbies.IsHostingFriendsOnlyLobby .BetaDesc
{
	visibility: collapse;
}

//end beta branch shenanigans

.InThisLobby.LobbyItem
{
	border: 2px solid white;	
	background-color: button_gradient;
}

.InThisLobby.LobbyItem:hover
{
	border: 2px solid white;	
	background-color: button_gradient_hover;
}

.FriendsRoom.LobbyItem
{
	border-color: green;
}


.LobbyItemInfo
{
	flow-children: right;
}

.LobbyThumb
{
	width: 140px;
	height: 140px;
	border-radius: 5px;
	margin: 10px 0px 10px 10px;
	opacity: .95;
	saturation: 0.8;
	transition-property: opacity, saturation;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;

	background-color: #333333ff;
	
}

.LobbyItemRight
{
	margin-top: 15px;
	margin-left: 20px;
	flow-children: down;
}

.LobbyInfo
{
	flow-children: down;
}

.LobbyMembers
{
	flow-children: right;
	visibility: collapse;
}
.HasLobbyData .LobbyMembers
{
	visibility: visible;
}

.LobbyMemberLabel
{
	color: #ffffffaa;
	font-size: 27px;
}

#InLobbyDestination
{
	color: green;	
}

#FriendCount
{
	visibility: collapse;
}

.HasFriendCount #FriendCount
{
	visibility: visible;
}

#InLobbyDestination
{
	visibility: collapse;
}

#LobbyOwnerName
{
	height: 35px;
}

.InThisLobby #InLobbyDestination
{
	visibility: visible;
}

.InThisLobby #LobbyOwnerName
{
	visibility: collapse;
}


//Shows type of lobby player is currently in

#InPublicRoom,
#InFriendsRoom
{
	visibility: collapse;
}

.PublicRoom #InPublicRoom,
.FriendsRoom #InFriendsRoom
{
	visibility: visible;
}


#LobbyBackButton
{
	margin: 0px;	
}

.LobbyItem:hover, 
.FocusOnEnable .LobbyItem:focus {
	//box-shadow: button_glow 0px 0px 10px 0px;
	border: 2px solid white;
}

.LobbyItem:active {
	pre-transform-scale2d: .97;
}

.LobbyItem:hover,
.FocusOnEnable .Item:focus {
	background-color: black;
}

.LobbiesButtons
{
	//margin-top: 10px;
	//margin-left: 30px;
	//flow-children: down;	
}

#OpenLobbyButton,
#OpenFriendLobbyButton,
#HostRoomButton
{
	width: 475px;
	flow-children: right;
	visibility: collapse;
}

#HostRoomButton
{
	margin-left: 30px;
	margin-top: 50px;
}

#OpenLobbyButton Label,
#OpenFriendLobbyButton Label,
#HostRoomButton Label
{
	width: 350px;
	text-align: left;
	margin-left: 35px;
	vertical-align: center;
}

.CanOpenLobby #OpenLobbyButton,
.CanOpenLobby #OpenFriendLobbyButton,
.CanOpenLobby .LobbyDescription,
.CanOpenLobby #HostRoomButton
{
	visibility: visible;
}

.OpenLobbyIcon
{
	width: 75px;
	height: 75px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 15px;	
}

.LobbyControls
{
    background-color: none; 
    flow-children: right-wrap;
    width: 100%;
    min-height: 150px;
    visibility: collapse;
//	visibility: visible;
	padding: 10px;
}

.HasLobbyInvite .LobbyControls
{
    visibility: visible;
}

.HasLobbyInvite .FriendsItemInfo
{
	margin: 25px 0px 5px 25px;
}

.LobbyControls .FriendButton
{
	horizontal-align: left;
	width: 200px;
}

.FriendLobbyInvite
{
	color: #ffffffaa;
	font-size: 32px;
	padding: 5px;
	margin-left: 10px;
}

.HorizontalDivider {
	width: 100%;
	height: 1px;
	background-color: #ffffff22;
	padding: 0px;
	margin: 5px 0px 0px 0px;	
}

.DownloadingDestinationDetails
{
	background-color: none; 
	flow-children: right-wrap;
	width: 100%;
	visibility: collapse;
	padding: 0px;
}

.DownloadingDestinationDetails Label
{
	flow-children: right-wrap;
	width: 100%;
	padding: 20px;
	font-size: 27px;
	color: #ffffff77;
}

.DownloadingWorkshopItem .DownloadingDestinationDetails
{
	visibility: visible;
}

.DownloadingWorkshopItem .LobbyControls
{
	visibility: collapse;
}

.DownloadingWorkshopItem .FriendsItemInfo
{
	margin: 25px 0px 5px 25px;
}

.FriendDownloading
{
	color: #ffffffaa;
	font-size: 32px;
	padding: 5px;
	margin-left: 10px;
}

/*---------------------------
       CONTROLLER STUFF 
---------------------------*/

.FocusOnEnable #FriendAcceptButton,
.FocusOnEnable #FriendDeclineButton,
.FocusOnEnable #FriendCancelButton
{
	visibility: collapse;	
}

.InviteControllerHint,
.DownloadControllerHint {
	flow-children: down;
	visibility: collapse;	
}

.FocusOnEnable .InviteControllerHint,
.FocusOnEnable .DownloadControllerHint {
	visibility: visible;	
}

.ControllerHintAccept,
.ControllerHintIgnore,
.ControllerHintCancel 
{
	flow-children: right;
	width: 400px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.ControllerHintLabel 
{
	color: #ffffffaa;
	font-size: 25px;
	vertical-align: center;		
}

.XButton,
.BButton
{
	width: 45px;
	height: 45px;
	border-radius: 50px;
	border: 2px solid #0c7ce488;	
	margin-right: 15px;	
}

.BButton
{
	border: 2px solid #bc1a1aff;
}

.XButton Label,
.BButton Label
{
	font-size: 25px;
	color: white;
	margin-left: 1px;
	horizontal-align: center;
	vertical-align: center;		
}

/*---------------------------
    CONFIRMATION MESSAGE
---------------------------*/

.ConfirmationMessageWrapper {
	width: 700px;
	height: 100%;
	margin-left: 110px;
	border-radius: 10px;
	background-color: #000000fc;
	//wash-color: #000000cc;	
	visibility: collapse;	
}

.ClosingLobby .ConfirmationMessageWrapper
{
	visibility: visible;	
}

.ConfirmationMessage {
	width: 560px;
	height: 630px;
	//margin-top: 400px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	//background-color: #000000ff;
	background-color: background_center_gradient;
	border-radius: 10px;
	border: 2px solid #ffffff20;	
	//box-shadow: ui_color_fade 0px 0px 10px 0px;
}

.ConfirmationTitle {
	margin-top: 60px;
	flow-children: right;	
}

.ConfirmationIcon {
	width: 70px;
	height: 70px;
	vertical-align: center;
	horizontal-align: left;
	margin-left: 60px;
	//margin-top: 60px;
}

.ConfirmationMessageTitle {
	margin-left: 30px;
	margin-right: 40px;
	vertical-align: center;
	//margin-top: 20px;
	width: 550px;
	font-size: 55px;
	color: #ffffffff;
	//background-color: red;
}

.ConfirmationMessageText {
	margin-left: 60px;
	margin-right: 40px;
	//vertical-align: center;
	margin-top: 30px;
	width: 500px;
	font-size: 40px;
	color: #ffffffff;
	//background-color: red;
}

#ConfirmationMessage
{
	visibility: collapse;	
}

.ClosingLobby #ConfirmationMessage
{
	visibility: visible;
}

.ConfirmationButtons {
	flow-children: down;
	horizontal-align: center;
	margin-top: 40px;
	//margin-left: 50px;
}

.ConfirmationButtons .FriendButton {
	width: 450px;	
}

#ConfirmationButtonCancel {
	//margin-left: 20px;
	margin-top: 10px;
}

.ConfirmationButtons Label {
	font-size: 35px;
	color: white;
}

/*------------------
     PANEL SELECTION
------------------*/

.ShowFriendList .FriendsContainer
{
	visibility: visible;
}

.ShowFriendDetail .FriendDetail
{
	visibility: visible;
}

.ShowLobbyList .LobbiesContainer
{
	visibility: visible;
}

.ShowLobbyDetail .LobbyDetail
{
	visibility: visible;
}

.ShowLobbyMemberDetail .LobbyMemberDetail
{
	visibility: visible;
}

/*------------------
   HOST ROOM DIALOG
------------------*/

.HostRoomDialogWrapper
{
	width: 700px;
	height: 100%;
	margin-left: 110px;
	border-radius: 10px;
	background-color: #000000fc;
	//wash-color: #000000cc;	
	visibility: collapse;	
}

.HostDialogOn .HostRoomDialogWrapper
{
	visibility: visible;
}

.GamepadController .HostDialogOn .FriendsMain,
.GamepadController .ClosingLobby .FriendsMain
{
	visibility: collapse;
}


.LobbiesButtons
{
	margin-left: 30px;
	horizontal-align: center;
	flow-children: down;
}

#CloseHostDialog
{
	margin-top: 45px;
	width: 475px;
}

.HostRoomDialog
{
	width: 560px;
	height: 630px;
	//margin-top: 400px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	background-color: background_center_gradient;
	//background-color: #000000ff;
	border-radius: 10px;
	border: 2px solid #ffffff20;	
	//box-shadow: button_glow 0px 0px 10px 0px;	
}

.HostDialogTitle
{
	color: white;
	font-size: 45px;
	margin-top: 40px;

	//horizontal-align: center;
}

.LobbyDescription
{
	margin-left: 0px;
	width: 500px;
	margin-bottom: 20px;
}



/*---------------------------
   TUTORIAL & NO STEAM
---------------------------*/

.FirstTimeState
{
	width: 100%;
	height: 100%;
	visibility: collapse;	
}


.NoSteamState,
.NoSteam.Tutorial .NoSteamState
{
	width: 100%;
	height: 100%;
	visibility: collapse;	
}

.NoSteam .NoSteamState
{
	//turning off
	//visibility: visible;	
	//background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #323133ff ), to( #0e0e11ff ) );
	opacity: .85;
	background-color: black;
	//background-color: none;
}

.NoSteamState .SteamLogo
{
	horizontal-align: center;
	vertical-align: center;
	width: 300px;
	height: 300px;
	opacity: 1;	
}

.NoSteamText1
{
	color: white;
	font-size: 60px;
	text-align: center;
	horizontal-align: center;
	//padding: 150px;
	vertical-align: bottom;
	margin-bottom: 550px;
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;		
}


.NoSteamState:hover .NoSteamText1
{
	opacity: .7;
}


.SteamLogo
{
	horizontal-align: center;
	vertical-align: center;
	width: 300px;
	height: 300px;
	opacity: 1;	
}

.Tutorial .WorldPanelFriends .FirstTimeState,
.Tutorial .WorldPanelPublicLobbies .FirstTimeState,
.NoSteam .WorldPanelFriends .NoSteamState,
.NoSteam .WorldPanelPublicLobbies .NoSteamState

{
	visibility: visible;
}

.NoSteam .FriendsTitleBar,
.NoSteam .WorldPanelFriends .FirstTimeState,
.NoSteam .WorldPanelPublicLobbies .FirstTimeState
{
	visibility: collapse;
}

.Tutorial .WorldPanelPublicLobbies,
.Tutorial .WorldPanelFriends,
.NoSteam .WorldPanelPublicLobbies,
.NoSteam .WorldPanelFriends
{
	//background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #323133ff ), to( #0e0e11ff ) );
	background-color: black;
	opacity: .85;
}

.Tutorial .WorldPanelPublicLobbies .FriendsTitleBar,
.Tutorial .WorldPanelPublicLobbies .LobbiesContainer,
.Tutorial .WorldPanelFriends .FriendsTitleBar,
.Tutorial .WorldPanelFriends .FriendsContainer
{
	visibility: collapse;	
}

.NoSteam .FriendsToggle
{
	visibility: collapse;
}

/*---------------------------
   IN WORLD PANEL: LOBBIES
---------------------------*/

.WorldPanelPublicLobbies .FriendsToggle,
.WorldPanelPublicLobbies .SocialTabs,
.WorldPanelPublicLobbies .FriendsContainer
{
	visibility: collapse;
}

.WorldPanelPublicLobbies .DestinationButton:active
{
	pre-transform-scale2d: .99;
}


.WorldPanelPublicLobbies .LobbiesContainer
{
	visibility: visible;
	height: 1400px;
}

.WorldPanelPublicLobbies .LobbyItem
{
	margin-bottom: 30px;
}

// Title

.WorldPublicLobbyTitle
{
	font-size: 80px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	color: white;
	horizontal-align: right;
	vertical-align: center;
	margin-top: 30px;
	visibility: collapse;		
}

.WorldPanelPublicLobbies .WorldPublicLobbyTitle
{
	visibility: visible;	
}

.WorldPanelPublicLobbies .FriendsTitleBar
{
	height: 200px;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: none;
	border: 0px;
}

// Body

.WorldPanelPublicLobbies .ScrollButtonWrapper
{
	visibility: collapse;
}

.WorldPanelPublicLobbies .FriendsMain
{
	opacity: 1;
	width: 100%;
	margin: 0px;
	//background-color: black_gradient;
	background-color: black;
}

.WorldPanelPublicLobbies .LobbiesBottom
{
	margin: 0px;
	height: 1500px;
	background-color: none;
	border: 0px;
}

.WorldPanelPublicLobbies #LobbiesContentContainer
{
	padding: 10px 60px 0px 60px;
}

.WorldPanelPublicLobbies #OpenLobbyButton,
.WorldPanelPublicLobbies #OpenFriendLobbyButton,
.WorldPanelPublicLobbies #HostRoomButton
{
	//horizontal-align: center;
	width: 950px;
	height: 175px;
	margin-left: 60px;
	background-color: #333333ff;
}

.WorldPanelPublicLobbies #HostRoomButton
{
	margin-top: 0px;
	margin-bottom: 30px;
}


#OpenFriendLobbyButton
{
	margin-top: 10px;
}

.WorldPanelPublicLobbies #OpenFriendLobbyButton
{
	margin-top: 30px;
}


.WorldPanelPublicLobbies #OpenLobbyButton:hover,
.WorldPanelPublicLobbies #OpenLobbyButton:focus,
.WorldPanelPublicLobbies #OpenFriendLobbyButton:hover,
.WorldPanelPublicLobbies #OpenFriendLobbyButton:focus
{
	background-color: #444444ff;
}

.WorldPanelPublicLobbies #OpenLobbyButton Label,
.WorldPanelPublicLobbies #OpenFriendLobbyButton Label,
.WorldPanelPublicLobbies #HostRoomButton Label
{
	font-size: 60px;
	margin-left: 60px;
	width: fit-children;
}

.WorldPanelPublicLobbies .OpenLobbyIcon
{
	width: 115px;
	height: 115px;
	margin-right: 30px;
}

.WorldPanelPublicLobbies .LobbyDescription
{
	margin-left: 60px;
	margin-top: 30px;
	width: 950px;
	font-size: 50px;
}

.WorldPanelLobbyButtons
{
	visibility: collapse;
}

.WorldPanelPublicLobbies .WorldPanelLobbyButtons
{
	visibility: visible;
	width: 100%;
}	

.WorldPanelPublicLobbies .WorldPanelLobbyButtons #LeaveLobbyButton,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #CloseLobbyButton,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #QuickCloseLobbyButton
{
	width: 950px;
	height: 175px;
	margin-left: 60px;
	background-color: #333333ff;
}	

.WorldPanelPublicLobbies .WorldPanelLobbyButtons #LeaveLobbyButton:hover,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #CloseLobbyButton:hover,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #QuickCloseLobbyButton:hover,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #LeaveLobbyButton:focus,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #CloseLobbyButton:focus,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #QuickCloseLobbyButton:focus
{

	background-color: #444444ff;
}	

.WorldPanelPublicLobbies .WorldPanelLobbyButtons #LeaveLobbyButton Label,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #CloseLobbyButton  Label,
.WorldPanelPublicLobbies .WorldPanelLobbyButtons #QuickCloseLobbyButton  Label
{
	font-size: 60px;
	text-align: center;
	horizontal-align: center;
	width: fit-children;
}	

.WorldPanelPublicLobbies .LobbyItem
{
	width: 950px;	
	background-color: #222222ff;
}

.WorldPanelPublicLobbies .LobbyItem:hover,
.WorldPanelPublicLobbies .LobbyItem:focus
{
	background-color: #333333ff;
}


.WorldPanelPublicLobbies .LobbyThumb
{
	height: 300px;
	width: 300px;
	margin: 0px;
	margin-right: 20px;	
}

.WorldPanelPublicLobbies .LobbyItemRight
{
	vertical-align: center;
	margin-top: 0px;
}

.WorldPanelPublicLobbies .LobbyDestinationItem
{
	font-size: 60px;
	height: 70px;
	width: 600px;
	margin-bottom: 5px;
}

.WorldPanelPublicLobbies #InLobbyDestination,
.WorldPanelPublicLobbies #MemberCount,
.WorldPanelPublicLobbies #FriendCount,
.WorldPanelPublicLobbies #InPublicRoom,
.WorldPanelPublicLobbies #InFriendsRoom,
.WorldPanelPublicLobbies #LobbyOwnerName
{
	font-size: 45px;
	height: 55px;
	width: 600px;
	margin-top: 0px;
}

.WorldPanelPublicLobbies .AlertPanel
{
	visibility: collapse;
}

// world panel lobbies - host room dialog panel

.WorldPanelPublicLobbies .HostRoomDialogWrapper
{
	width: 100%;
	height: 100%;
	margin: 0px;
	border-radius: 10px;
	background-color: #000000fc;
	//visibility: collapse;	
}



.WorldPanelPublicLobbies .HostRoomDialog
{
	width: 950px;
	height: 1050px;
	//margin-top: 400px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	background-color: #1a1a1aff;
	//background-color: #000000ff;
	border-radius: 10px;
	border: 2px solid #ffffff20;	
	//box-shadow: button_glow 0px 0px 10px 0px;	
}

.WorldPanelPublicLobbies .HostDialogTitle
{
	color: white;
	font-size: 65px;
	margin-top: 80px;
	margin-left: 20px;
	//horizontal-align: center;
}

.WorldPanelPublicLobbies .LobbyDescription
{
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 45px;
	width: 800px;
}


.WorldPanelPublicLobbies .HostRoomDialogWrapper #OpenLobbyButton,
.WorldPanelPublicLobbies .HostRoomDialogWrapper #OpenFriendLobbyButton,
.WorldPanelPublicLobbies .HostRoomDialogWrapper #CloseHostDialog
{
	width: 800px;
	height: 175px;
	margin: 0px;
	margin-top: 20px;
	horizontal-align: center;
}

.WorldPanelPublicLobbies .HostRoomDialogWrapper #CloseHostDialog
{
	margin-top: 80px;
	background-color: #333333ff;
}

.WorldPanelPublicLobbies .HostRoomDialogWrapper #CloseHostDialog Label
{
	font-size: 60px;
}

.WorldPanelPublicLobbies .LobbiesButtons
{
	margin: 0px;
}

/*---------------------------
   IN WORLD PANEL: FRIENDS
---------------------------*/

.WorldPanelFriends .FriendsToggle,
.WorldPanelFriends .SocialTabs,
.WorldPanelFriends.ShowLobbyMemberDetail .LobbyMemberDetail,
.WorldPanelPublicLobbies.ShowLobbyMemberDetail .LobbyMemberDetail,
.WorldPanelFriends .HostRoomDialogWrapper
{
	visibility: collapse;
}

.WorldPanelFriends .ScrollButtonWrapper
{
	visibility: collapse;
}

.WorldPanelFriends.ShowLobbyMemberDetail .FriendsContainer
{
	visibility: visible;
}

// Title

.WorldFriendsTitle
{
	font-size: 80px;
	color: white;
	font-weight: bold;
	//margin-left: 60px;
	margin-top: 30px;	
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;		
}

.WorldPanelFriends .WorldFriendsTitle
{
	visibility: visible;	
}

.WorldPanelFriends .FriendsTitleBar
{
	height: 200px;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: none;
	border: 0px;
}

// Body

.WorldPanelFriends .FriendsMain
{
	opacity: 1;
	width: 100%;
	margin: 0px;
	//background-color: black_gradient;
	background-color: black;
}

.WorldPanelFriends #FriendsContentContainer
{
	padding: 10px 0px 0px 60px;
	border: 0px;
	height: 1400px;
}

.WorldPanelFriends .FriendsBottom,
.WorldPanelFriends .FriendDetail
{
	margin: 0px;
	height: 1500px;
	background-color: none;
	border: 0px;
}

.WorldPanelFriends .AlertPanel
{
	visibility: collapse;
}

.WorldPanelFriends .FriendsItemRight
{
	margin-left: 30px;
}

.WorldPanelFriends .FriendNames
{
	flow-children: right;
	width: 800px;
}

.WorldPanelFriends .FriendNames .FriendsName
{
	font-size: 50px;	
}

.WorldPanelFriends.ShowFriendDetail .FriendNames .FriendsName
{
	font-size: 32px;	
	width: 800px;
	horizontal-align: center;
	text-align: center;
}


.WorldPanelFriends .FriendNames .FriendsNick
{
	font-size: 45px;	
	horizontal-align: left;
	margin-left: 15px;
	padding: 0px;
}

.WorldPanelFriends.ShowFriendList .FriendStatus,
.WorldPanelFriends.ShowFriendList .FriendDestination,
.WorldPanelFriends.ShowFriendList .FriendInvited,
.WorldPanelFriends.ShowFriendList .FriendAppTitle
{
	font-size: 40px;
	margin-top: 5px;
}

.WorldPanelFriends.ShowFriendDetail .FriendNames .FriendsName
{
	font-size: 60px;	
}

.WorldPanelFriends.ShowFriendDetail .FriendDetailTop
{
	background-color: #222222ff;
}

.WorldPanelFriends.ShowFriendDetail .FriendDetailTop #FriendBackButton
{
	background-color: #222222ff;
}

.WorldPanelFriends #FriendsDetailItemRight Label
{
	font-size: 60px;	
	margin-top: 20px;
	text-align: center;
	horizontal-align: center;
}

.WorldPanelFriends #FriendInviteButton,
.WorldPanelFriends #FriendJoinButton,
.WorldPanelFriends #FriendInviteButton.DestinationButton:hover:disabled,
.WorldPanelFriends #FriendJoinButton.DestinationButton:hover:disabled
{
	height: 130px;	
	margin-top: 20px;
	background-color: #222222ff;
}

.WorldPanelFriends #FriendInviteButton:hover,
.WorldPanelFriends #FriendJoinButton:hover,
.WorldPanelFriends #FriendInviteButton:focus,
.WorldPanelFriends #FriendJoinButton:focus
{
	background-color: #444444ff;
}

.WorldPanelFriends #FriendInviteButton Label,
.WorldPanelFriends #FriendJoinButton Label
{
	font-size: 50px;
}

.WorldPanelFriends .FriendsItem
{
	//width: 465px;
	width: 970px;
	//height: 175px;
	border: 2px solid #ffffff10;
	height: 215px;
	margin: 0px 30px 30px 0px;
	background-color: #111111ff;
}

.WorldPanelFriends .FriendsItem:hover,
.WorldPanelFriends .FriendsItem:focus
{
	background-color: #333333ff;
}

.WorldPanelFriends #FriendsAvatar
{
	width: 215px;
	height: 215px;	
}

.WorldPanelFriends .HasLobbyInvite.FriendsItem
{
	height: 500px;
}

.WorldPanelFriends .HasLobbyInvite.FriendsItem #FriendsAvatar
{
	margin: 0px;
	padding: 0px;
}

.WorldPanelFriends .HasLobbyInvite.FriendsItem .FriendButton
{
	width: 300px;
	height: 120px;
	margin-top: 20px;
	margin-left: 13px;
	font-size: 40px;
}

.WorldPanelFriends .HasLobbyInvite.FriendsItem .FriendButton:hover,
.WorldPanelFriends .HasLobbyInvite.FriendsItem .FriendButton:focus
{
	background-color: #444444ff;
}

.WorldPanelFriends .HasLobbyInvite.FriendsItem .FriendButton Label
{
	font-size: 40px;
}

.WorldPanelFriends .HasLobbyInvite.FriendsItem .FriendLobbyInvite
{
	margin-top: 10px;
	height: fit-children;
	width: 970px;
	font-size: 40px;
}

.WorldPanelFriends.ShowFriendDetail #FriendsAvatar,
.WorldPanelFriends #FriendsDetailAvatar
{
	width: 500px;
	height: 500px;	
	margin-top: 50px;
}

.WorldPanelFriends.ShowFriendDetail #FriendInviteButton,
.WorldPanelFriends.ShowFriendDetail #FriendJoinButton
{	
	width: 500px;
}

// in world panel scrolling gradients


.BottomGradient
{
	width: 100%;
	height: 200px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ff ) );
	vertical-align: bottom;
	margin-bottom: 70px;
	visibility: collapse;
}

.WorldPanelFriends.ShowFriendList .BottomGradient,
.WorldPanelPublicLobbies.ShowFriendList .BottomGradient
{
	visibility: visible;
}

.Tutorial .WorldPanelPublicLobbies .BottomGradient,
.NoSteam .WorldPanelFriends .BottomGradient
{
	visibility: collapse;
}



/*------------------
     ANIMATIONS 
------------------*/

/*	
	animation-name: image-wash-pulse;
	animation-duration: 1.8s;
	animation-delay: 0.23s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;*/

@keyframes 'image-wash-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
		wash-color: #d4f2ffff;
		blur: gaussian( 0.5 );
	}
	
	50%
	{
		pre-transform-scale2d: 1.0;
		wash-color: white;
		blur: none;
	}
	

	100%
	{
		pre-transform-scale2d: 1.0;
		wash-color: #d4f2ffff;
		blur: gaussian( 0.5 );
	}
}	
