/* styles for the main SteamTours HUD */

SteamToursHud
{
	width: 100%;
	height: 100%;
}


Label
{
	font-size: 80px;
	color: white;
	horizontal-align: center;
}

Button
{
	background-color: #999999;
	horizontal-align: center;
	vertical-align: center;
	border: 4px solid black;
	width: 50%;
	height: 50%;
}

Button:hover
{
	border: 4px solid white;
}