/* styles for the notification panel */

SteamToursNotifications
{
	width: 90%;
	height: 1000px;
	border-radius: 10px;
	flow-children: up;
	opacity: 0;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	vertical-align: bottom;
}

SteamToursNotifications.Visible
{
	opacity: 1;
}

.Notification
{
	width: 100%;
	//height: 250px;
	height: 300px;
	margin-top: 40px;
	padding-right: 20px;
	border-radius: 5px;
	border: 4px solid #ffffff00;
	//background-color: #000000;
	background-color: background_center_gradient;
	flow-children: right;
	opacity: 0;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

.NotificationImage
{
	width: 125px;
	height: 125px;
	border-radius: 75px;
	border: 2px solid white;	
	vertical-align: center;
	margin-left: 50px;
}

.NotificationImageClear
{
	width: 160px;
	height: 160px;
	vertical-align: center;
	margin-left: 40px;
}

.NotificationImageSquare
{
//	width: 100px;
//	height: 100px;
	width: 200px;
	height: 200px;
	border-radius: 3px;
	border: 2px solid #ffffff10;	
	vertical-align: center;
	margin-left: 50px;
}

.Notification.Visible
{
	opacity: 1;
}

.NotificationText
{
	color: white;
	//max-width: 80%;
	width: 70%;
	font-size: 40px;
	vertical-align: center;
	margin-left: 60px;
	line-height: 70px;
	text-align: left;
	margin-bottom: 10px;
}