/*------------------
   OUTER WRAPPER 
------------------*/

SteamToursRecentApps 
{
	//background-color: white_gradient;
	//background-color: black_gradient;
	background-color: black;
	flow-children: none;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 1;
    
	transition-property: opacity, border;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

// this still needs to work for gamepad users
.GamepadController SteamToursRecentApps
{
	opacity: .3;	
}

.ViewFocus.GamepadController SteamToursRecentApps
{
	opacity: 1;	
}

/*---------------------
     TITLE PANEL 
---------------------*/

.RecentAppsTitleBar 
{
	width: 100%;
	height: 200px;
	//margin-bottom: 10px;
	border: 0px;
	border-radius: 10px;
	flow-children: right;
	//background-color: background_center_gradient; 
	//background-color: black;
}

.PlayerAvatar
{
	width: 100px;
	height: 100px;
	border-radius: 5px;
	border: 2px solid #ffffff20;
	vertical-align: center;
	margin-left: 55px;
}

.RecentApps_Title 
{
	font-size: 80px;
	color: white;
	//color: black;
	font-weight: bold;
	margin-top: 30px;
	//margin-left: 30px;
	horizontal-align: center;
	vertical-align: center;
}

/*---------------------------
        RECENT APPS LIST 
---------------------------*/

.RecentAppsContainer
{
	width: 100%;
	height: 1400px;
	border-radius: 10px;
	//background-color: background_center_gradient; 
	//background-color: black;
	margin-top: 210px;
	padding-top: 0px;
}

.GamepadController .AppConfirm .RecentAppsContainer
{
	visibility: collapse;
}

.RecentAppsContentContainer {
	margin-top: 0px;
	width: 100%;
	height: fit-children;
	flow-children: right;
    border: 10px solid blue;
    visibility: visible;
}

.ContentContainer {
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
	padding-left: 65px;
	overflow: clip scroll;
}

/*------------------------
     RECENT APPS ITEM STYLES 
-------------------------*/

.RecentAppsItem {
	flow-children: none;
	width: 460px;
	height: 215px;
	//height: 290px;
	//pre-transform-scale2d: 1.05;
	margin: 15px 30px 15px 0px;
	border-radius: 3px;
	background-color: background_center_gradient_dark;
	box-shadow: none;
	border: 3px solid #ffffff10;
	opacity: 1;
	visibility: visible;

	transition-property: border, wash-color, box-shadow, width, height;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.RecentAppsItem:hover,
.GamepadController .RecentAppsItem:focus
{
	border: 3px solid white;	
	background-color: button_gradient_hover;
}

.RecentAppsItemImage 
{
	width: 460px;
	height: 215px;
	border-radius: 3px;
	margin: 0px;
	opacity: 1;
	saturation: 0.8;
	transition-property: opacity, saturation;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
    visibility: visible;
}

.RecentAppName
{
	font-size: 30px;
	height: 40px;
	//width: 400px;
	color: white;
	vertical-align: center;
	horizontal-align: left;
	margin-left: 20px;
	opacity: 0;

	transition-property: opacity, saturation;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.AppLabel
{
	width: 100%;
	height: 70px;
	vertical-align: bottom;
}

.ImageLoaded .AppLabel
{
	visibility: collapse;	
}

.LabelBack
{
	width: 100%;
	height: 70px;
	vertical-align: bottom;
	background-color: #000000ff;	
	opacity: 0;
	
	transition-property: opacity, saturation;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.RecentAppsItem:hover .RecentAppName,
.RecentAppsItem:hover .LabelBack,
.GamepadController .RecentAppsItem:focus .RecentAppName,
.GamepadController .RecentAppsItem:focus .LabelBack
{
	opacity: 1;	
}

.BottomGradient
{
	width: 100%;
	height: 200px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ff ) );
	vertical-align: bottom;
	margin-bottom: 70px;
}

//.NoSteam .BottomGradient,
.Tutorial .BottomGradient,
.NoRecentApps .BottomGradient
{
	visibility: collapse;
}

/*---------------------
     FOOTER PANEL 
---------------------*/

.RecentAppsFooter
{
	width: 100%;
	height: 120px;
	border-radius: 10px;
	margin-top: 10px;
	//background-color: background_center_gradient; 
	//background-color: black;
	vertical-align: bottom;
}

.DestinationButton.ShowAllApps
{
	width: 950px;
	height: 150px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 70px;
	background-color: #333333ff;
}

.DestinationButton.ShowAllApps Label
{
	vertical-align: center;
	font-size: 55px;
}

.DestinationButton.ShowAllApps:hover,
.GamepadController .DestinationButton.ShowAllApps:focus
{
	background-color: #444444ff;
}

.DestinationButton.ShowAllApps:active
{
	pre-transform-scale2d: .98;
}

.RecentApps_Footer_Label
{
	font-size: 40px;
	color: #ffffffaa;
	//margin-left: 60px;
	horizontal-align: center;
	vertical-align: center;
}



/*---------------------
   WELCOME STATE
   First time players get the Welcome message asking them to open the menu
---------------------*/

.WelcomeBottom 
{
	visibility: collapse;
}

.Tutorial .RecentAppsTitleBar,
.Tutorial .RecentAppsContainer,
.Tutorial .RecentAppsFooter,
.Tutorial .ShowAllApps
{
	visibility: collapse;	
}

.Tutorial .RecentApps
{
	width: 100%;
	height: 100%;
	background-color: black;
}

.Tutorial .WelcomeBottom {
	flow-children: down;
	width: 100%;
	height: 100%;
	background-color: black;
	visibility: visible;
}

.TextArea {
	font-family: "Motiva Sans";
	//width: 55%;
	//height: 100%;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000cc ), to( #00000099 ) );
	margin: 20px 0px 40px 40px;
	padding: 40px;
	border-radius: 6px;
}

.ImageRight {
	width: 900px;
	height: 900px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000cc ), to( #00000099 ) );
	//margin: 20px 40px 30px 20px;
	horizontal-align: center;
	border-radius: 6px;
	flow-children: none;
	vertical-align: bottom;
	margin-bottom: 100px;
}

.WelcomeTitle
{
	color: white;
	font-size: 85px;
	text-align: center;	
	horizontal-align: center;
	margin-top: 175px;
}

.PressMenuButton,
.PressYButton,
.PressBButton,
.PressBOrYButton
{
	color: #ccccccff;
	font-size: 70px;
	width: 900px;
	horizontal-align: center;
	font-weight: light;
	text-align: center;
	padding-top: 10px;
	margin-left: 15px;
	visibility: collapse;
}

.MotionController,
.Controller,
.TouchImage,
.RiftSImage,
.WinMRImage,
.KnucklesImage,
.CosmosImage,
.ReverbG2Image
{
	width: 900px;
	height: 900px;
	//background-color: red;
	visibility: collapse;
}

// if no class set, it's a Vive
.MotionController,
.PressMenuButton 
{
	visibility: visible;	
}

// if it's a gamepad, winmr controller or a touch, show the relevant bits
.GamepadController .Controller,
.GamepadController .PressYButton,
.TouchController .TouchImage,
.TouchController .PressBOrYButton,
.RiftSController .RiftSImage,
.RiftSController .PressBOrYButton,
.Quest2Controller .RiftSImage,
.Quest2Controller .PressBOrYButton,
.WinMRController .WinMRImage,
.WinMRControllerSamsung .WinMRImage,
.KnucklesController .KnucklesImage,
.KnucklesController .PressBButton,
.CosmosController .CosmosImage,
.CosmosController .PressBOrYButton,
.ReverbG2Controller .ReverbG2Image,
.ReverbG2Controller .PressBOrYButton
{
	visibility: visible;
}

// if it's a gamepad or a touch, hide vive controller bits
.GamepadController .MotionController,
.GamepadController .PressMenuButton,
.TouchController .MotionController,
.TouchController .PressMenuButton,
.RiftSController .MotionController,
.RiftSController .PressMenuButton,
.Quest2Controller .MotionController,
.Quest2Controller .PressMenuButton,
.KnucklesController .MotionController,
.KnucklesController .PressMenuButton,
.CosmosController .MotionController,
.CosmosController .PressMenuButton,
.ReverbG2Controller .MotionController,
.ReverbG2Controller .PressMenuButton
{
	visibility: collapse;
}

.GlowAnim
{
	width: 75px;
	height: 75px;
	//background-color: red;
	//border: 5px solid blue;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 50%;
	margin-bottom: 67px;
	margin-left: 4px;
	box-shadow: #558eab 0px 0px 100px 0px;

	animation-name: glow-pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.TouchController .GlowAnim
{
	margin-bottom: 270px;
	margin-right: 310px;
}

.RiftSController .GlowAnim
{
	margin-bottom: 270px;
	margin-right: 310px;
}

.Quest2Controller .GlowAnim
{
	margin-bottom: 270px;
	margin-right: 310px;
}

.GamepadController .GlowAnim
{
	margin-bottom: 240px;
	margin-left: 450px;
}

.WinMRController .GlowAnim,
.WinMRControllerSamsung .GlowAnim
{
	width: 50px;
	height: 50px;
	margin-top: 200px;
	margin-right: 30px;
}

.KnucklesController .GlowAnim
{
	margin-bottom: 405px;
	margin-right: 631px;
}

.CosmosController .GlowAnim
{
	width: 100px;
	height: 100px;
	margin-bottom: 269px;
	margin-right: -40px;
	margin-left: 50px;
}

.ReverbG2Controller .GlowAnim
{
	width: 65px;
	height: 65px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 240px;
}

/*---------------------
   NO RECENT APPS STATE
   If player hasn't played any VR apps yet

   .NoRecentApps
---------------------*/

.NoRecentApps .RecentAppsTitleBar,
.NoRecentApps .RecentAppsContainer,
.NoRecentApps .RecentAppsFooter,
.NoRecentApps .ShowAllApps
{
	visibility: collapse;	
}

.NoAppsState
{
	width: 100%;
	height: 100%;
	flow-children: down;
	visibility: collapse;	
}

.NoAppsState .SteamLogo
{
	width: 250px;
	height: 250px;
	horizontal-align: left;
	margin-left: 100px;
}

.NoRecentApps .NoAppsState
{
	visibility: visible;
}

.NoAppsTitle
{
	font-size: 80px;
	color: white;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 30px;
	horizontal-align: center;
}

.NoAppsText
{
	color: white;
	font-size: 65px;
	margin: 40px 60px 20px 70px;
}

.DestinationButton.BrowseSteam
{
	width: 950px;
	height: 400px;
	margin-bottom: 70px;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: #333333ff;
}

.DestinationButton.BrowseSteam Label
{
	vertical-align: center;
	font-size: 90px;
	text-align: left;
	margin-left: 440px;
}

.DestinationButton.BrowseSteam:hover,
.GamepadController .DestinationButton.BrowseSteam:focus
{
	background-color: #444444ff;
}

.DestinationButton.BrowseSteam:active
{
	pre-transform-scale2d: .98;
}

/*---------------------
   NO STEAM STATE
   If Steam isn't detected

   .NoSteam
---------------------*/

.NoSteam .RecentAppsTitleBar,
.NoSteam .RecentAppsContainer,
.NoSteam .RecentAppsFooter,
.NoSteam .ShowAllApps
{
	//turning off
	//visibility: collapse;	
}

.NoSteamState,
.NoSteam.Tutorial .NoSteamState
{
	width: 100%;
	height: 100%;
	visibility: collapse;	
}

.NoSteam .NoSteamState
{
	//turning off
	//visibility: visible;	
	//background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #323133ff ), to( #0e0e11ff ) );
	opacity: .85;
	background-color: black;
	//background-color: none;
}

.NoSteam #RecentAppsPanel,
.NoSteam .BlackOut
{
	//background-color: none;
}

.SteamLogo
{
	horizontal-align: center;
	vertical-align: center;
	width: 300px;
	height: 300px;
	opacity: 1;	
}

.NoSteamText1
{
	color: white;
	font-size: 60px;
	text-align: center;
	horizontal-align: center;
	//padding: 150px;
	vertical-align: bottom;
	margin-bottom: 550px;
	opacity: .3;
	
	transition-property: opacity;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;		
}

.NoSteamText2
{
	color: white;
	font-size: 50px;
	text-align: center;
	padding: 150px;
	vertical-align: bottom;
	margin-bottom: 220px;
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.NoSteamState:hover .NoSteamText1
{
	opacity: 1;
}

.NoSteamState:hover .NoSteamText2
{
	opacity: .7;
}

/*------------------------
   CONFIRMATION PANEL 
-------------------------*/

.AppConfirm .ConfirmationPanel
{
	opacity: 1;
	pre-transform-scale2d: 1;
	//box-shadow: #ffffff11 0px 0px 20px 0px;
}

.AppConfirm .BlackOut
{
	opacity: .95;
}

.ConfirmationPanel
{
	width: 800px;
	//height: 900px;
	height: fit-children;
	padding: 80px;
	background-color: #222222ff;
	box-shadow: #ffffff00 0px 0px 20px 0px;
	horizontal-align: center;
	vertical-align: center;
	pre-transform-scale2d: .95;
	opacity: 0;

	flow-children: down;

	transition-property: opacity, box-shadow, pre-transform-scale2d;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.GamepadController .ConfirmationPanel
{
	visibility: collapse;
}

.GamepadController .AppConfirm .ConfirmationPanel
{
	visibility: visible;
}

.AppImageWrapper
{
	flow-children: none;
	horizontal-align: center;
	//margin-top: 
}

.DefaultLaunchAppImage,
.LaunchAppImage
{
	horizontal-align: center;
	width: 620px;
	height: 290px;
	//margin-top: 80px;
	border: 2px solid #ffffff10;
}

.ConfirmationPanel Button
{
	horizontal-align: center;
	width: 400px;
	height: 130px;
	//background-color: button_gradient;
	background-color: #333333ff;
}

.ConfirmationPanel Button:hover,
.GamepadController .ConfirmationPanel Button:focus
{
	background-color: #444444ff;
}

.ConfirmationPanel Button Label
{
	vertical-align: center;
	font-size: 50px;
}

.LaunchConfirmation
{
	horizontal-align: center;
	text-align: center;
	width: 80%;
	//margin-top: 400px;
	margin-top: 30px;
	color: white;
	font-size: 55px;	
}

.LaunchButton,
.DetailsButton,
.CancelButton
{
	margin-top: 30px;
}


.LaunchButton
{
	margin-top: 40px;
}

.DetailsButton
{
	visibility: collapse;
}

.BlackOut
{
	width: 100%;
	height: 1540px;
	border-radius: 10px;
	background-color: black_gradient;
	opacity: 0;
	margin-top: 210px;

	transition-property: opacity;
	transition-duration: 0.23s;
}

.IsSteamApp .DetailsButton
{
	visibility: visible;
}

//ANIMATIONS

@keyframes 'glow-pulse'
{
	0%
	{
		opacity: 0;
	}

	50%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}	
