#CommunityHomeWrapper
{
}

.CommunityHomeWrapper
{
	width: 100%;
	height: 100%;
	flow-children: none;	
}

.CommunityHomeWrapper.ViewingCommunityItemDetail
{
	wash-color: rgba( 0, 0, 0, 0.99 );
}

.Tutorial .CommunityHomeWrapper
{
	visibility: collapse;
}

.GamepadController .CommunityHomeWrapper
{
	opacity: .7;
}

.GamepadController.ViewFocus .CommunityHomeWrapper
{
	opacity: 1;
}

//--------------------
//  Power On / Off
//--------------------

.TitleBar,
.LoadingSpinnerWrapper,
#CommunityContentContainer,
#EnvironmentsContainer,
.SteamVRNow,
#PowerOff,
.UGCTabs,
.ConfirmationPanel,
.BlackOut,
.SteamVRTitleLogo,
.ScreenOn #PowerOn,
.ScreenOn .SteamVRLogo,
.ScreenOn .SteamDisclaimer,
.ScreenOn .TutorialState
{
	visibility: collapse;
}

.ScreenOn .SteamVRTitleLogo,
.ScreenOn .TitleBar,
.ScreenOn .LoadingSpinnerWrapper,
.ScreenOn .SelectedUGC_screenshots #CommunityContentContainer,
.ScreenOn .SelectedUGC_artwork #CommunityContentContainer,
.ScreenOn .SelectedUGC_environments #EnvironmentsContainer,
.ScreenOn .SteamVRNowOn .SteamVRNow,
.ScreenOn #PowerOff,
.ScreenOn .UGCTabs,
.ScreenOn .ConfirmationPanel,
.ScreenOn .BlackOut,
.SteamVRLogo,
#PowerOn
{
	visibility: visible;
}

.CommunityHomeWrapper
{
	background-color: #111111ff;
}

.SteamDisclaimer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-top: 100px;
	color: #ffffff15;
	font-size: 50px;
}

//--------------------
//  No Steam State =  .NoSteam
//--------------------


.NoSteam .TitleBar,
.NoSteam .LoadingSpinnerWrapper,
.NoSteam #CommunityContentContainer,
.NoSteam #EnvironmentsContainer,
.NoSteam .SteamVRNow,
.NoSteam #PowerOff,
.NoSteam #PowerOn,
.NoSteam .UGCTabs,
.NoSteam .SteamDisclaimer,
.TutorialState
{
	visibility: collapse;
}

.ScreenOff .SteamVRLogo,
.NoSteam .SteamVRLogo
{
	visibility: visible;
}

//--------------------
//  Gamepad = no UGC wall
//--------------------

.GamepadController #PowerOn,
.GamepadController .SteamDisclaimer
{
	visibility: collapse;
}

//--------------------
//  UGC Title Panel
//--------------------

.TitleBar
{
	width: 100%;
	height: 230px;
	opacity: 0;
}

.SteamVRTitleLogo
{
	width: 750px;
	height: 190px;
	opacity: 0;
}

.SteamVRTitleLogoImage
{
	width: 65%;
	height: 65%;
	margin-top: 52px;
	margin-left: 25px;
}

.SteamVRNowTitle
{
	color: white;
	font-weight: bold;
	font-size: 100px;
	margin-left: 40px;
	margin-top: 35px;
}

.SteamVRNowDesc
{
	color: white;
	font-size: 45px;
	margin-top: 165px;
	margin-left: 40px;
}

.UGCTitleBar
{
	//width: 2550px;
	width: 1500px;
	height: 230px;
	margin-left: 1040px;
	flow-children: down;
	//background-color: red;
}

.UGCTitle
{
	color: white;
	font-weight: bold;
	font-size: 100px;
	margin-left: 10px;
	margin-top: 35px;
}

.UGCDesc
{
	color: white;
	font-size: 45px;
	margin-top: 5px;
	margin-left: 15px;
}

.UGCTabs
{
	width: 2400px;
	height: 130px;
	margin-top: 50px;
	//margin-right: 200px;
	border: 5px solid #555555ff;
	border-radius: 5px;
	horizontal-align: center;
	flow-children: right;
}

.EnvironmentsTab,
.ScreenshotsTab,
.CurrentlyPlayedTab
{
	width: 800px;
	height: 130px;
	pre-transform-scale2d: 1;
	transition-property: background-color;
	transition-duration: 0.23s;

}

.ScreenshotsTab:hover,
.EnvironmentsTab:hover,
.CurrentlyPlayedTab:hover,
.GamepadController .ScreenshotsTab:focus,
.GamepadController .EnvironmentsTab:focus,
.GamepadController .CurrentlyPlayedTab:focus
{
	background-color: #555555ff;
}

.SelectedUGC_screenshots .ScreenshotsTab,
.SelectedUGC_environments .EnvironmentsTab,
.SelectedUGC_currentlyplayed .CurrentlyPlayedTab
{
	background-color: #333333ff;
}

.TabLabel
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

.TabText
{
	color: white;
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
}

.TabDivider
{
	height: 100%;
	width: 5px;
	background-color: #555555ff;
}

.PowerButton
{
	width: 130px;
	height: 130px;
	margin-top: 50px;
	//margin-right: 70px;
	margin-right: 50px;
	horizontal-align: right;
	background-color: black;
	//border: 2px solid #555555ff;
	//border-radius: 50%;
}

#PowerOn
{
	margin: 0px;
	margin-bottom: 290px;
	flow-children: right;
	height: 130px;
	width: fit-children;
	vertical-align: bottom;
	horizontal-align: center;
	border: 2px solid #ffffff88;
	background-color: #55555511;
	//background-color: button_gradient;
}

#PowerOn .PowerIcon
{
	width: 55px;
	height: 55px;
	margin-left: 40px;
}

#PowerOnText
{
	width: fit-children;
	margin: 0px 50px 0px 40px;
	vertical-align: center;
	horizontal-align: center;
	color: white;
	//font-weight: bold;
	font-size: 45px;
}

#PowerOn:hover,
.GamepadController #PowerOn:focus
{
	background-color: #555555ff;
	//background-color: blue;
	//background-color: button_gradient_hover;
}

.PowerButton:hover,
.GamepadController .PowerButton:focus
{
	//background-color: #555555ff;
	background-color: #b7000055;
}

.PowerIcon
{
	width: 50px;
	height: 50px;
	horizontal-align: center;
	vertical-align: center;
	//border-radius: 50%;
}



//----------------
//  Screenshots / Artwork
//----------------

#CommunityHomeContainer 
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
}

#CommunityContentContainer
{
	//width: 100%;
	//height: 100%;
	margin-top: 230px;
	flow-children: right-wrap;
	horizontal-align: center;
	//vertical-align: center;
	margin-top: 250px;
	background-color: red;

}

.ScreenshotThumbContainer 
{
	//width: 230px;
	//height: 230px;
	//width: 250px;
	//height: 250px;
	width: 290px;
	height: 290px;

	overflow: clip;
	border: 10px solid #111111ff;
	//margin: 10px;
	background-color: #222222ff;
}

.ScreenshotThumb 
{
	//width: 292px;
	//height: 292px;
	width: 100%; 
	height: 100%;
	//margin: 20px;
	overflow: clip;
	pre-transform-scale2d: 1;
	transition-property: wash-color, opacity;
	transition-duration: 0.23s;
}

.FadingOut .ScreenshotThumb
{
	animation-name: screenshot-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

.FadingIn .ScreenshotThumb
{
	animation-name: screenshot-in;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

.ScreenshotThumbContainer:hover .ScreenshotThumb,
.GamepadController .ScreenshotThumbContainer:focus .ScreenshotThumb
{
	wash-color: #2f6682aa;
}

//----------------
//  Environments panel
//----------------

#EnvironmentsContainer
{
	//width: 2550px;
	width: 100%;
	height: 100%;
	margin-top: 250px;
	padding-left: 7px;
	margin-left: 50px;
	horizontal-align: center;
	background-color: #111111ff;
	//flow-children: right-wrap;

	visibility: collapse;
}

.Valve_Promotion
{
	height: 325px;
	width: 2756px;
	margin: 6px;
	border-radius: 2px;
	border: 3px solid #ffffff08;
	//background-color: button_gradient;
	background-color: #222222aa;	
	//background-color: #333333ff;	
	transition-property: background-color, border;
	transition-duration: 0.23s;

	//horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 170px;
	margin-left: 705px;

}

.PromoImage
{
	//width: 300px;
	width: 788px;
	height: 325px;
	vertical-align: center;
	//margin-left: 40px;
}

.PromoTitle
{
	color: white;
	font-size: 55px;
	//margin-left: 350px;	
	margin-left: 860px;
	margin-top: 80px;
	//font-weight: bold;
}

.PromoDesc
{
	color: #ffffff99;
	font-size: 50px;
	//margin-left: 350px;
	margin-left: 860px;
	margin-top: 160px;
}

.TopEnvironments
{
	//margin-top: 270px;
	flow-children: right-wrap;
}

.EnvironmentItem
{
	width: 325px;
	height: 325px;
	//border: 10px solid #111111ff;
	//margin: 10px;
	background-color: #222222ff;
	border: 3px solid #ffffff05;
	margin: 11px;
	transition-property: background-color, border, wash-color;
	transition-duration: 0.23s;
}

.EnvironmentImage
{
	width: 325px;
	height: 325px;
	opacity: 1;
	//transition-property: wash-color;
	//transition-duration: 0.23s;
}

.EnvironmentItem .SubscribedCheck
{
	width: 80px;
	height: 80px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
	background-color: #111111ee;
	//background-color: gradient( linear, 0% 0%, 75% 75%, from( #000000ff ), to( #00000000 ) );
	visibility: collapse;
}
.EnvironmentItem.Subscribed .SubscribedCheck
{
	visibility: visible;
}

.SubscribedCheck .CheckImage
{
	//margin-left: 10px;
	//margin-top: 10px;
	horizontal-align: center;
	vertical-align: center;
	width: 50px;
	height: 50px;
	wash-color: green;
}

.EnvironmentItem:hover,
.HTC_Promotion:hover,
.Valve_Promotion:hover,
.HMD_Manufacturer_HTC .Valve_Promotion:hover
{
	//background-color: #333333ff;
	border: 3px solid #ffffffaa;
	//wash-color: none;
}

//Valve Environments dialog

.ValveEnvironmentsWrapper
{
	width: 100%;
	height: 100%;
	//margin-right: 50px;
	horizontal-align: center;
	background-color: #111111fa;
	visibility: collapse;
}

.ValveDialogOn .ValveEnvironmentsWrapper
{
	visibility: visible;
}

.ValveEnvironmentsDialog
{
	//width: 2340px;
	//height: 1030px;
	width: 2970px;
	height: 1450px;
	margin-bottom: 100px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #111111ff;
	//box-shadow: #111111ff -3px 0px 50px 0px;
	border: 4px solid #ffffff11;
	border-radius: 5px;
}

.DialogTitleBar
{
	flow-children: none;
	width: 100%;
}

.DialogTitle
{
	color: white;
	font-size: 70px;
	margin-top: 80px;
	margin-left: 80px;
}

.DialogDesc
{
	color: #ffffff88;
	font-size: 50px;
	width: 1750px;
	margin-top: 190px;
	margin-left: 80px;
}

.CloseDialogButton
{
	width: 120px;
	height: 120px;
	margin-top: 50px;
	horizontal-align: right;
	margin-right: 50px;
	//margin-left: 1850px;
	//margin-left: 2150px;
	border: 1px solid #ffffff00;
	transition-property: background-color, border, pre-transform-scale2d;
	transition-duration: 0.23s;
}

.CloseDialogButtonImage
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	horizontal-align: center;
}

.CloseDialogButton:hover
{
	background-color: #333333ff;
	border: 1px solid white;
}

.CloseDialogButton:active
{
	pre-transform-scale2d: .98;
}

.ValveEnvironments
{
	width: 100%;
	height: 100%;
	margin: 300px 70px 70px 70px;
	flow-children: right-wrap;
}

//--------------------
//  Vive Specific Promotion
//--------------------

.VivePromoImage,
.HMD_Manufacturer_HTC .PromoImage
{
	visibility: collapse;
}

.HMD_Manufacturer_HTC .VivePromoImage
{
	visibility: visible;
}

.VivePromoImage
{
	width: 390px;
	height: 325px;
	vertical-align: center;
	horizontal-align: left;
}

.HMD_Manufacturer_HTC .PromoTitle
{
	color: white;
	font-size: 55px;
	margin-left: 450px;	
	//margin-left: 660px;
	//margin-top: 55px;
	margin-top: 55px;
	//font-weight: bold;
}

.HMD_Manufacturer_HTC .PromoDesc
{
	color: #ffffff99;
	font-size: 45px;
	margin-left: 450px;
	//margin-left: 660px;
	//margin-top: 130px;
	margin-top: 140px;
	width: 800px;
}

.HMD_Manufacturer_HTC .Valve_Promotion
{
	height: 325px;
	width: 1367px;
	//width: 2480px;
	margin: 6px;
	border-radius: 2px;
	border: 3px solid #ffffff08;
	//background-color: button_gradient;
	background-color: #222222aa;	
	//background-color: #333333ff;	
	transition-property: background-color, border;
	transition-duration: 0.23s;

	vertical-align: bottom;
	//margin-bottom: 50px;
	margin-bottom: 170px;
	margin-left: 705px;

}

.HTC_Promotion
{
	height: 325px;
	width: 1367px;
	margin: 6px;
	margin-left: 1253px;
	border-radius: 2px;
	border: 3px solid #ffffff08;
	background-color: #222222aa;	
	transition-property: background-color, border;
	transition-duration: 0.23s;

	vertical-align: bottom;
	margin-bottom: 170px;
	margin-left: 2092px;

	visibility: collapse;
}

.HMD_Manufacturer_HTC .HTC_Promotion
{
	visibility: visible;
}

.VivePromoWrapper
{
	width: 2500px;
	height: 1515px;
	margin-right: 50px;
	horizontal-align: right;
	background-color: #111111fa;
	visibility: collapse;
}

.ViveDialogOn .VivePromoWrapper
{
	visibility: visible;
}


.VivePromoDialog
{
	width: 2020px;
	//width: 2340px;
	//height: 1030px;
	height: 850px;
	vertical-align: center;
	horizontal-align: center;
	background-color: #111111ff;
	//box-shadow: #111111ff -3px 0px 50px 0px;
	border: 4px solid #ffffff11;
	border-radius: 5px;
	flow-children: down;	
}

.DialogPromoImages
{
	flow-children: right;
	margin-left: 80px;
	margin-top: 60px;
}

.DialogPromoImage
{
	margin-left: 50px;
}

.VivePromoWrapper .DialogDesc
{
	width: 650px;
	margin: 0px;
	margin-right: 50px;
}

.VivePromoWrapper .CloseDialogButton
{
	width: 120px;
	height: 120px;
	margin-top: 50px;
	//horizontal-align: right;
	//margin-left: 1850px;
	margin-left: 1850px;
	border: 1px solid #ffffff00;
	transition-property: background-color, border, pre-transform-scale2d;
	transition-duration: 0.23s;
}

.VivePromoWrapper .CloseDialogButton:hover
{
	background-color: #333333ff;
	border: 1px solid white;
}

//--------------------
//  SteamVR Now Panel
//--------------------

.SteamVRNow
{
	width: 100%;
	height: 100%;
	margin-top: 210px;
	horizontal-align: left;
	background-color: #111111ff;
	//flow-children: down;
	opacity: 0;

	//background-color: green;
}

.SteamVRNowColumns
{
	flow-children: right;
}

#CommunityHomeWrapper.HasData .SteamVRNow
{
	opacity: 1;
	//opacity: .5;
}


.Divider
{
	width: 100%;
	height: 4px;
	background-color: #ffffff10;
	margin-top: 60px;	
	margin-bottom: 40px;

	visibility: collapse;
}

.SinglePlayerAppPanel,
.MultiPlayerAppPanel,
.FreeAppPanel
{
	flow-children: down;
	//background-color: green;
}

.MultiPlayerAppPanel
{
	//margin-left: 40px;
}

.SinglePlayerLabel,
.MultiPlayerLabel,
.FreeAppLabel
{
	//color: #ffffff88;
	font-size: 55px;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 15px;
	font-weight: bold;
}

.SinglePlayerLabel
{
	color: #e86260;
}

.MultiPlayerLabel
{
	color: green;
}

.FreeAppLabel
{
	color: #54b5e7;
}

.VRTitlesContainer
{
	//height: 655px;
	height: 1500px;
	flow-children: down;
}

.VRTitleItem
{
	flow-children: right;	
	margin-left: 40px;
	margin-top: 14px;
	background-color: #ffffff02;
	//background-color: green;

	transition-property: background-color;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;	
}

.VRTitleItem:hover,
.GamepadController .VRTitleItem:focus
{
	//background-color: gradient( linear, 0% 0%, 100% 100%, from( #2f668255 ), to( #142d3a22 ) );
	background-color: #ffffff10;
}

.VRTitleItem:hover Label,
.GamepadController .VRTitleItem:focus Label
{
	color: white;
}

.VRTitleItem:hover .VRTitleImage,
.GamepadController .VRTitleItem:focus .VRTitleImage
{
	//border: 2px solid #ffffffff;
	//box-shadow: #ffffff11 0px 0px 8px 0px;
}


.VRTitleItem:hover .VRTitlePopularity,
.GamepadController .VRTitleItem:focus .VRTitlePopularity
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( white ), to( blue ) );
}

.VRTitleImage
{
	width: 361px;
	height: 170px;

	border: 2px solid #ffffff00;	
	box-shadow: none;

	transition-property: border, box-shadow;
	transition-duration: .2s;
	transition-timing-function: bigpicture-ease-in-out;	
}


.VRTitleRight
{
	vertical-align: center;
	//flow-children: down;
	width: 780px;
	//background-color: red;
}

.VRTitleLabel
{
	color: #ffffff;
	font-size: 50px;
	width: 550px;
	height: fit-children;
	margin-left: 30px;
	vertical-align: center;

	transition-property: color;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;	
}

.VRTitlePopularity
{
	height: 20px;
	width: 600px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( blue ), to( #142d3a55 ) );
	margin-top: 24px;
	margin-left: 5px;
	opacity: 0;
	visibility: collapse;
	transition-property: background-color;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;		
}

//BACKGROUND ROWS TO MAKE THIS PANEL PRETTY

.SteamVRNowBackground
{
	width: 100%;
	height: 100%;
	margin-top: 115px;
	//background-color: red;
	flow-children: right;
}

.Column1,
.Column2,
.Column3
{
	width: 1141px;
	height: 100%;
	margin-left: 40px;
	flow-children: down;
}

.Row1,
.Row2,
.Row3,
.Row4,
.Row5,
.Row6,
.Row7,
.Row8
{
	width: 100%;
	height: 172px;
	margin-bottom: 12px;
}

//-------------------
// SINGLEPLAYER COLUMN
//-------------------

.Column1 .Row1
{
	background-color: #ad454330;
}

.Column1 .Row2
{
	background-color: #ad454325;
}

.Column1 .Row3
{
	background-color: #ad454320;
}

.Column1 .Row4
{
	background-color: #ad454315;
}

.Column1 .Row5
{
	background-color: #ad454310;
}

.Column1 .Row6
{
	background-color: #ad454307;
}

.Column1 .Row7
{
	background-color: #ad454304;
}

.Column1 .Row8
{
	background-color: #ad454302;
}

//-------------------
//MULTIPLAYER COLUMN
//-------------------

.Column2 .Row1
{
	background-color: #96c62e30;
}

.Column2 .Row2
{
	background-color: #96c62e25;
}

.Column2 .Row3
{
	background-color: #96c62e20;
}

.Column2 .Row4
{
	background-color: #96c62e15;
}

.Column2 .Row5
{
	background-color: #96c62e10;
}

.Column2 .Row6
{
	background-color: #96c62e07;
}

.Column2 .Row7
{
	background-color: #96c62e04;
}

.Column2 .Row8
{
	background-color: #96c62e02;
}

//-------------------
// FREE APPS COLUMN
//-------------------

.Column3 .Row1
{
	background-color: #318bb930;
}

.Column3 .Row2
{
	background-color: #318bb925;
}

.Column3 .Row3
{
	background-color: #318bb920;
}

.Column3 .Row4
{
	background-color: #318bb915;
}

.Column3 .Row5
{
	background-color: #318bb910;
}

.Column3 .Row6
{
	background-color: #318bb907;
}

.Column3 .Row7
{
	background-color: #318bb904;
}

.Column3 .Row8
{
	background-color: #318bb902;
}


//------------------------
//   CONFIRMATION PANEL 
//-------------------------



.AppConfirm .ConfirmationPanel
{
	opacity: 1;
	pre-transform-scale2d: 1;
	//box-shadow: #ffffff11 0px 0px 20px 0px;
}

.AppConfirm .BlackOut
{
	opacity: .95;
}


.ConfirmationPanel
{
	width: 1700px;
	height: 1100px;
	background-color: #222222ff;
	//box-shadow: #ffffff00 0px 0px 20px 0px;
	border-radius: 10px;
	horizontal-align: center;
	vertical-align: center;
	pre-transform-scale2d: .95;
	opacity: 0;

	transition-property: opacity, box-shadow, pre-transform-scale2d;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

.BlackOut
{
	//width: 1000px;
	width: 100%;
	height: 100%;
	//height: 1540px;
	border-radius: 10px;
	background-color: black_gradient;
	opacity: 0;
	//margin-top: 210px;

	transition-property: opacity;
	transition-duration: 0.23s;
	//transition-timing-function: bigpicture-ease-in-out;	
}

.ConfirmationButtons
{
	flow-children: right;
	margin-top: 850px;
	horizontal-align: center;
}

.GamepadController .ConfirmationPanel
{
	visibility: collapse;
}

.GamepadController .AppConfirm .ConfirmationPanel
{
	visibility: visible;
}

.DefaultLaunchAppImage,
.LaunchAppImage
{
	horizontal-align: center;
	width: 1500px;
	height: 702px;
	margin-top: 100px;
	border: 2px solid #ffffff10;
}

.ConfirmationPanel Button
{
	horizontal-align: center;
	width: 490px;
	height: 130px;
	//background-color: button_gradient;
	background-color: #333333ff;
}

.ConfirmationPanel Button:hover,
.GamepadController .ConfirmationPanel Button:focus
{
	background-color: #444444ff;
}

.ConfirmationPanel Button Label
{
	vertical-align: center;
	font-size: 50px;
}

.LaunchConfirmation
{
	horizontal-align: left;
	//text-align: center;
	margin-top: 60px;
	margin-left: 80px;
	color: white;
	font-size: 65px;
	font-weight: bold;	
	height: 70px;
	width: 85%;
	visibility: collapse;
}

.LaunchAppButton
{
	//margin-top: 510px;	
	border: 2px solid #ffffff77;
	visibility: collapse;
}

#LaunchAppButton
{
	//background-color: #ffffff12;
	background-color: button_gradient_hover;
}

#LaunchAppButton:hover
{
	background-color: button_gradient_bright;
}

#LaunchAppButton Label
{
	font-weight: bold;
}

.LaunchButtonDisabled
{
	width: 490px;
	height: 130px;
	//background-color: button_gradient;
	background-color: #33333350;
	border: 2px solid #ffffff08;
	color: white;
	opacity: 0;
	visibility: collapse;
}

.LaunchButtonDisabled Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 50px;
	color: #ffffff20;
	font-weight: bold;
}

.DetailsButton,
.StoreButton
{
	//margin-top: 510px;
	margin-left: 15px;
	margin-right: 15px;
}

.LaunchButton,
.StoreButton
{
	visibility: collapse;
}

.DetailsButton
{
	visibility: visible;
}

// If app is launchable

.CanLaunchApp .LaunchButton
{
	visibility: visible;
}

.CanLaunchApp .LaunchButtonDisabled,
.CanLaunchApp .StoreButton
{
	visibility: collapse;
}



// Old

//--------------------
//  Steam Stats Panel
//--------------------

.SteamLogo
{
	width: 170px;
	height: 170px;
	margin: 50px 30px 25px 40px;
	horizontal-align: right;
	visibility: collapse;
}

.SteamStats
{
	width: 1060px;
	height: 250px;
	horizontal-align: right;
	background-color: #111111ff;
	flow-children: down;
	opacity: 0;
	//background-color: red;
	visibility: collapse;
}

#CommunityHomeWrapper.HasData .SteamStats
{
	opacity: 1;
}

.SteamPlayerNumber
{
	color: white;
	font-size: 120px;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 20px;
}

.SteamPlayerDesc1
{
	color: white;
	font-size: 45px;
	//font-weight: bold;
	margin-top: 0px;
	margin-left: 30px;
}

.SteamPlayerDesc2
{
	color: #ffffff66;
	//color: #000000aa;	
	font-size: 50px;
	//font-weight: bold;
	margin-top: 5px;
	margin-left: 30px;

	visibility: collapse;
}


//-------------------
//  Screenshot Stats
//-------------------

.ScreenshotStats
{

	width: 1250px;
	height: 250px;
	margin: 2px 0px 0px 0px;
	vertical-align: top;
	horizontal-align: left;
	background-color: #111111ff;	
	flow-children: down;
	opacity: 0;

	//background-color: red;
	visibility: collapse;
}

#CommunityHomeWrapper.HasData .ScreenshotStats
{
	opacity: 1;
}

.ScreenshotNumber
{
	color: white;
	//color: black;
	font-size: 120px;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
}

.ScreenshotDesc1
{
	color: white;
	//color: black;
	font-size: 45px;
	//font-weight: bold;	
	margin-top: 0px;
	margin-left: 40px;
}

.ScreenshotDesc2
{
	color: #ffffff66;
	//color: #000000aa;
	font-size: 50px;
	//font-weight: bold;	
	margin-top: 5px;
	margin-left: 40px;

	visibility: collapse;
}

/*---------------------
   WELCOME STATE
   First time players get the Welcome message asking them to open the menu
---------------------*/

.TutorialState 
{
	visibility: collapse;
}

.Tutorial .TutorialState,
.NoSteam.Tutorial .TutorialState
{
	width: 100%;
	height: 100%;
	visibility: visible;
}

.SteamVRLogo
{
	width: 2100px;
	height: 500px;
	horizontal-align: center;
	vertical-align: center;
	//margin-left: 450px;
	//margin-top: 200px;
}

.Tutorial .SteamVRLogo,
.NoSteam.Tutorial .SteamVRLogo
{
	visibility: visible;
}

//-------------------
//  Loading Spinner
//-------------------

.LoadingSpinnerWrapper
{
	width: 100%;
	height: 100%;
}

.LoadingSpinner
{
	width: 200px;
	height: 200px;
	margin-left: 400px;
	vertical-align: center;
	opacity: 0.6;

	//pre-transform-rotate2d: 45deg;

	animation-name: loading-spinner;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	//transform: rotateZ( 45deg );


	//transition-property: pre-transform-rotate2d, opacity;
	//transition-duration: 0.23s;
}

.SteamLogoLoader
{
	width: 160px;
	height: 160px;
	margin-left: 420px;
	vertical-align: center;
}

#RightIcon
{
	margin-left: 1720px;
}

#RightSpinner
{
	margin-left: 1700px;
}

/*------------------
     HIDE UGC STATE
------------------*/

.HideUGC .SelectedUGC_screenshots #CommunityContentContainer,
.HideUGC .SelectedUGC_artwork #CommunityContentContainer,
.HideUGC .LoadingSpinnerWrapper
{
	visibility: collapse;
}

.HiddenDesc
{
	width: 1000px;
	height: 1000px;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.BlackBack
{
	width: 100%;
	height: 100%;
	background-color: #111111ff;
}


.HiddenIcon
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
}


.HiddenLabel
{
	color: #333333ff;
	font-size: 30px;
	margin-bottom: 300px;
	horizontal-align: center;
	vertical-align: bottom;
}

.HideUGC .SelectedUGC_screenshots .HiddenDesc,
.HideUGC .SelectedUGC_artwork .HiddenDesc
{
	visibility: visible;
}

/*------------------
     ANIMATIONS 
------------------*/

@keyframes 'screenshot-out'
{
	0%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}	

@keyframes 'screenshot-in'
{
	0%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}	


@keyframes 'loading-spinner'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	33%
	{
		transform: rotateZ( 120deg );
	}

	66%
	{
		transform: rotateZ( 240deg );
	}

	100%
	{
		transform: rotateZ( 0deg );
	}

}


