/* styles for the tutorial panel */

#DestinationsTutorialPanel 
{
	flow-children: none;
	width: 100%;
	height: 100%;
	opacity: 0;
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), to( #c0c0c0c0 ) ); */
	border-radius: 10px;
	pre-transform-scale2d: 1;
}

#DestinationsTutorialPanel.Visible
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: shortduration !immediate;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.Hidden #DestinationsTutorialPanel 
{
	opacity: 0;
}

.TutorialHub
{
	height: 100%;
	width: 100%;
}

.GamepadController .TutorialLink.MotionController
{
	visibility: collapse;	
}

//No Steam

.NoSteam .NeedsSteam,
.NoSteam .InfoPanelScroll
{
	visibility: collapse;
}

.NoSteam .TutorialLink
{
	width: 670px;
}

//first time

#TutorialPage1.Page.Page1,
.FirstTimeTutorial .TutorialHub
{
	visibility: collapse;	
}

.FirstTimeTutorial #TutorialPage1.Page.Page1
{
	visibility: visible;
	opacity: 1;
}	


#CloseButton
{
	vertical-align: center;
	horizontal-align: right;
	margin-right: 30px;	
	width: 220px;
}

#CloseButton Label
{
	vertical-align: center;	
}

.TutorialHub .TutorialArea
{
	padding: 50px 0px 0px 35px;	
	flow-children: right;	
	overflow: clip scroll;
}

.TutorialAreaLeft,
.TutorialAreaRight
{
	flow-children: down;	
}

.TutorialAreaLeft
{
	margin-right: 20px;	
}

.TutorialLink
{
	width: 610px;
	height: 180px;
	horizontal-align: center;
	background-color: button_gradient;
	border: 2px solid #ffffff20;	
	border-radius: 5px;	
	flow-children: right;
	margin-bottom: 20px;
	pre-transform-scale2d: 1;
	transition-property: border, background-color, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.TutorialLink:hover,
.FocusOnEnable .TutorialLink:focus
{
	background-color: button_gradient_hover;
	pre-transform-scale2d: 1.0;
	border: 2px solid white;
	box-shadow: button_glow 0px 0px 10px 0px;
}

.TutorialLink:active {
	pre-transform-scale2d: .99;
}

.TutorialLinkImage
{
	width: 160px;
	height: 160px;	
	vertical-align: center;
	margin-left: 10px;
}

.TutorialLinkLabel
{
	color: white;
	font-size: 40px;
	margin-left: 30px;
	horizontal-align: left;
	//background-color: red;
	vertical-align: center;	
}

.TutorialDetail
{	
	width: 100%;
	height: 100%;
	visibility: collapse;	
}

.Visible.TutorialDetail
{
	visibility: visible;	
}

.Page 
{
	height: 100%;
	width: 100%;
	margin: 0px;
	opacity: 0;
	horizontal-align: center;
}

.Page.Visible
{
	//while building hub
	opacity: 1;
}

.Title
 {
	color: #eeeeeeff;
	font-size: 50px;
	font-weight: light;
	//text-align: left;
	horizontal-align: center;
	vertical-align: center;
	//margin: 40px 0px 0px 30px;
}

.NextButton,
.DoneButton:focus
{
	width: 250px;
	height: 100px;
	margin: 35px 35px 35px 0px;
	border-radius: 5px;	
	//background-color: #00000033;
	background-color: button_gradient_hover;		
	border: 2px solid #ffffff20;
	box-shadow: none;
	horizontal-align: right;
	vertical-align: bottom;
	pre-transform-scale2d: 1;
	transition-property: transform, border, background-color, opacity, pre-transform-scale2d, box-shadow !immediate;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.NextButton:hover,
.DoneButton:hover,
.FocusOnEnable .NextButton:focus,
.FocusOnEnable .DoneButton:focus
{
	//background-color: ui_color_mid;	
	background-color: button_gradient_bright;	
	pre-transform-scale2d: 1;
	border: 2px solid white;
	box-shadow: button_glow 0px 0px 10px 0px;
}

.NextButton:active,
.DoneButton:active,
.FocusOnEnable .NextButton:active,
.FocusOnEnable .DoneButton:active
{
	background-color: button_gradient_bright;	
	pre-transform-scale2d: .97;
}

.NextButton Label,
.DoneButton Label
{
	font-family: platformfont;
	font-size: 35px;
	font-weight: light;
	color: white;
	transition-property: transform, color;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	margin: 0px;
	width: 100%;
	text-align: center;
	vertical-align: center;
	//padding-top: 17px;
}

.NextButton:hover Label,
.DoneButton:hover Label
{
	color: white;
	transition-duration: 0.25s !immediate;
	box-shadow: none;
}

.BackButton,
.BackButton:focus
{
	flow-children: right;
	width: 222px;
	height: 100px;
	margin-left: 35px;
	border-radius: 5px;
	background-color: button_gradient;
	border: 2px solid #ffffff20;
  	vertical-align: center;
	pre-transform-scale2d: 1;
	transition-property: transform, border, background-color, opacity, pre-transform-scale2d, box-shadow;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;
}

.DestinationButton .ScrollButtonImage,
.BackButton .ScrollButtonImage 
{
	transform: rotateZ( 90deg );
	width: 70px;
	height: 70px;
	vertical-align: center;
}

.BackButton:hover,
.GamepadController .BackButton:focus
{
	background-color: button_gradient_hover;
	pre-transform-scale2d: 1;
	border: 2px solid white;
	box-shadow: button_glow 0px 0px 10px 0px;
}


.BackButtonText 
{
	color: white;
	font-size: 35px;
	vertical-align: center;
	margin-left: 10px;
}

.BackButton:active
{
	pre-transform-scale2d:.97;
}

.ViveHelp, 
.ControllerHelp,
.TouchHelp,
.WinMRHelp,
.KnucklesHelp,
.CosmosHelp,
.ReverbG2Help
{
	visibility: collapse;
}

.ViveController .ViveHelp,
.KnucklesController .KnucklesHelp,
.GenericTrackedController .ViveHelp,
.GamepadController .ControllerHelp,
.TouchController .TouchHelp,
.RiftSController .TouchHelp,
.WinMRController .WinMRHelp,
.WinMRControllerSamsung .WinMRHelp,
.CosmosController .CosmosHelp,
.ReverbG2Controller .ReverbG2Help
{
	visibility: visible;
}

.NextButton,
.DoneButton
{
	visibility: collapse;	
}

.ViveController .Page1 .NextButton,
.ViveController .Page2 .NextButton,
.ViveController .Page3 .DoneButton,
.KnucklesController .Page1 .NextButton,
.KnucklesController .Page2 .NextButton,
.KnucklesController .Page3 .DoneButton,
.GenericTrackedController .Page1 .NextButton,
.GenericTrackedController .Page2 .NextButton,
.GenericTrackedController .Page3 .DoneButton,
.GamepadController .Page1 .NextButton,
.GamepadController .Page2 .NextButton,
.GamepadController .Page3 .DoneButton,
.TouchController .Page1 .NextButton,
.TouchController .Page2 .NextButton,
.TouchController .Page3 .DoneButton,
.RiftSController .Page1 .NextButton,
.RiftSController .Page2 .NextButton,
.RiftSController .Page3 .DoneButton,
.WinMRController .Page1 .NextButton,
.WinMRController .Page2 .NextButton,
.WinMRController .Page3 .DoneButton,
.WinMRControllerSamsung .Page1 .NextButton,
.WinMRControllerSamsung .Page2 .NextButton,
.WinMRControllerSamsung .Page3 .DoneButton,
.CosmosController .Page1 .NextButton,
.CosmosController .Page2 .NextButton,
.CosmosController .Page3 .DoneButton,
.ReverbG2Controller .Page1 .NextButton,
.ReverbG2Controller .Page2 .NextButton,
.ReverbG2Controller .Page3 .DoneButton
{
	visibility: visible;	
}


.HorizontalDivider{
	width: 100%;
	height: 3px;
	background-color: #ffffff05;
	margin-top: 10px;
	margin-bottom: 10px;
}

.TutorialTop {
	width: 100%;
	height: 150px;	
	background-color: background_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
}

.TutorialArea {
	width: 100%;
	flow-children: down;
	margin-top: 155px;
	height: 100%;
	background-color: background_center_gradient;
	border-radius: 5px;
	border: 2px solid panel_stroke;
	//overflow: clip scroll;	
}

.TutorialTiles {
	margin-top: 20px;
	width: 100%;
	height: 730px;
	padding-left: 15px;
	flow-children: right;
	overflow: clip scroll;
}

.TutorialTilesDown {
	margin-top: 20px;
	width: 100%;
	height: 750px;
	flow-children: down;
	overflow: clip scroll;
}

.TutorialTile
{
	width: 450px;
	flow-children: down;
	margin: 0px;
	margin-top: 15px;
	margin-left: 15px;
}

.TutorialDesc, 
{
	padding: 15px 15px 10px 15px;
	color: #eeeeeeff;
	font-size: 30px;
	overflow: clip scroll;
	vertical-align: top;
}

.TutorialDescEnd, 
{
	padding: 15px 10px 10px 10px;
	color: #bbbbbbff;
	font-size: 32px;
	font-weight: normal;
	margin-top: 10px;
	background-color: none;

}

.TutorialImage
{
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	border: 2px solid #ffffff10;
	opacity: .8;
	pre-transform-scale2d: 1;
	//height: 1020px;
}

.TutorialBottom{
	width: 100%;
	height: 150px;
	flow-children: none;
}

.TutorialDescBottom
{
	color: #bbbbbbff;
	//horizontal-align: center;
	horizontal-align: left;
	font-size: 35px;
	margin-top: 40px;
	margin-left: 45px;
	margin-right: 45px;
	width: 73%;
}

.TutorialDetail .TutorialDescBottom
{
	horizontal-align: center;
	margin-top: 25px;
	text-align: center;
	width: 90%;
	//background-color: red;	
}

.TutorialFullImage
{
	border-radius: 5px;
	vertical-align: top;
	border: 4px solid #555555ff;
	opacity: .8;
	pre-transform-scale2d: .97;
}

.TutorialMenuBottom
{
	flow-children: right;	
}

.TutorialMenuDesc
{
	width: 435px;
	margin: 10px;
	padding: 15px 15px 10px 15px;
	color: #bbbbbbff;
	font-size: 35px;
	overflow: clip scroll;
	vertical-align: top;
}

#ControllerBottomText,
.GamepadController #ViveBottomText,
.TouchController #ViveBottomText,
.RiftSController #ViveBottomText,
.ViveController #TouchBottomText,
.KnucklesController #TouchBottomText,
.CosmosController #TouchBottomText,
.ReverbG2Controller #TouchBottomText,
.GamepadController #TouchBottomText
{
	visibility: collapse;
}

.GamepadController #ControllerBottomText
{
	visibility: visible;
}

.TouchController #TouchBottomText,
.RiftSController #TouchBottomText
{
	visibility: visible;	
}

/*----------------------------------
      SCROLLING BITS 
----------------------------------*/

.TutorialScroll {
	width: 200px;
	height: 100%;
	horizontal-align: center;
	background-color: none;

	visibility: collapse;
	//collapse this for now until we get scrolling properly hooked up
}

.ScrollPanelUp,
.ScrollPanelDown {
	margin-top: 165px; 
	width: 80px;
	height: 50px;
	border-radius: 10px;	
	background-color: #000000aa;
	border: 2px solid #ffffffaa;
	vertical-align: top;
	horizontal-align: center;
	transition-property: opacity, border, background-color, box-shadow;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
	opacity: 0;
}

.ScrollPanelDown {
	margin-top: 995px;
}

.InfoScrollingUp .ScrollPanelUp 
{ 
	opacity: 1; 
}

.InfoScrollingDown .ScrollPanelDown 
{
	opacity: 1;
}

.InfoScrollingDown .TutorialBottom {
	opacity: 0;
}

.ScrollPanelUp:hover,
.ScrollPanelDown:hover, 
.ScrollPanelUp:focus,
.ScrollPanelDown:focus{
	background-color: ui_color_mid;	
	pre-transform-scale2d: 1;
	border: 2px solid white;
	box-shadow: ui_color 0px 0px 10px 0px;
}

/*.InfoScrollingUp .TutorialTile ,
.InfoScrollingDown .TutorialTile {
	width: 400px;
}

.InfoScrollingUp .TutorialImage,
.InfoScrollingDown .TutorialImage {
	background-color: red;
	height: 500px;
}*/

.InfoScrollingUp .ScrollPanelWrapper,
.InfoScrollingDown .ScrollPanelWrapper{
	opacity: 1;
}


//

.InfoPanelScroll 
{
	width: 200px;
	height: 100%;
	horizontal-align: right;
	background-color: none;
}

.ScrollPanelWrapper 
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: center;
	opacity: 0;
	margin-right: 30px;
	margin-top: 100px;
}

.TutorialHub .ScrollPanelWrapper
{
	opacity: 1;
}

.ScrollPanelWrapper .ScrollButtonImage 
{
	transform: rotateZ( 0deg );
	horizontal-align: center;
}

.ScrollPanelWrapper .DestinationButton 
{
	width: 100px;	
}

#ScrollHubDown
{
	margin-top: 50px;	
}

#VerticalScrollBar 
{
	width: 1%;
	height: 100%;
	horizontal-align: right;
	background-color: none;
}