.InWorldDirectionPagePanel
{
	width: 320px;
    height: 400px;
	background-color: black;
	font-family: Motiva Sans;
	font-size: 22px;
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: none;
	border: 2px solid #ffffff60;
	opacity: 1;
}

.Instruction
{
	width: 224px;
	color: #7bb641ff;
	//color: #d1c283;
	//color: #00ff00cc;
	//color: #ffffffaa;
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	text-overflow: clip;
	margin-bottom: 20px;
	border: 0px solid blue;
	flow-children: down;
	
	
	//animation-name: pulsing-anim;
	//animation-duration: 1.3s;
	//animation-delay: 0.4s;
	//animation-timing-function: bigpicture-ease-in-out;
	//animation-iteration-count: infinite;
	//animation-direction: normal;	
}

.CacheFinderImages
{
	width: 100%;
	height: 100%;	
}

.NoCacheImage,
.LocateCacheImage,
.RetrieveCacheImage,
.OpenCacheImage,
.CapturedCacheImage
{
	visibility: collapse;	
}

.noCachePresent .NoCacheImage,
.locateCacheState .LocateCacheImage,
.retrieveCacheState .RetrieveCacheImage,
.openCacheState .OpenCacheImage,
.cacheCaptured .CapturedCacheImage
{
	visibility: visible;
}

#NoCacheText,
.cacheCaptured.noCachePresent #NoCacheText
{
	color: #d94453ff;
	horizontal-align: center;
	visibility: collapse;	
}

.cacheCaptured.noCachePresent .NoCacheImage
{
	visibility: collapse;	
}



.noCachePresent #NoCacheText
{
	visibility: visible;	
}


.noCachePresent #InstructionText
{
	visibility: collapse;	
}


#InstructionText
{
	//margin-top: 16px;
	horizontal-align: center;
	vertical-align: center; 
}

.progress_visible #InstructionText
{
	//margin-bottom: 60px;	
	//opacity: 0;
}

.cacheCaptured.noCachePresent #InstructionText
{
	visibility: visible;
	margin-bottom: 0px;	
}

.cacheCaptured.noCachePresent .openCacheState .OpenCacheImage,
.noCachePresent .cacheCaptured .OpenCacheImage,
.noCachePresent .cacheCaptured .CapturedCacheImage
{
	visibility: collapse;	
}

.Progress
{
	width: 192px;
	height: 40px;
	color: #d1c283;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 10px;
	//margin-top: 30px;
	text-align: center;
	text-overflow: clip;
	border: 2px solid #ffffff20;
	flow-children: down;
	background-color: black;
	//turning this off because no catching state
	opacity: 0;
}

#ProgressPanel
{
	opacity: 0;
}

#ProgressBar
{
	width: 1%;
	height: 100%;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #8db5ff ), to( #1b4bae ) );
	background-color: #00ff00ff;
	margin-top: 0px;
	horizontal-align: left;
	vertical-align: center;
}

#ProgressPanel.progress_visible
{
    //opacity: 1;
}

.InWorldDirectionPagePanel.Activated
{
	opacity: 0;
}

.cacheCaptured #ProgressPanel
{
	opacity: 0;
}

// ANIMATIONS

@keyframes 'pulsing-anim'
{
	from
	{
		opacity: 1;
	}



	50%
	{
		opacity: .7;
	}
	

	to
	{
		opacity: 1;
	}
}

@define bigpicture-ease-in-out: cubic-bezier( 0, 0.265, 0.265, 1.0);


.Image1,
.Image2
{
	opacity: 0;
	transition-property: opacity;
	animation-name: slideshow-two-images;
	animation-duration: 2.4s;
	//animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

//pulsing animation for no cache state
.Image1A
{
	opacity: 0;
	transition-property: opacity;
	animation-name: slideshow-one-image;
	animation-duration: 2s;
	//animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.Image1 {
		animation-delay: 0s;
}

.Image2 {
		animation-delay: 1.2s;
}


@keyframes 'slideshow-two-images'
{
	0%
	{
		opacity: 1;
	}

	37%
	{
		opacity: 1;
	}


	50%
	{
		opacity: 0;
	}

	87%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

@keyframes 'slideshow-one-image'
{
	0%
	{
		opacity: 1;
	}

	50%
	{
		opacity: 1;
	}


	75%
	{
		opacity: .25;
	}

	
	100%
	{
		opacity: 1;
	}
}
