/* styles for the player billboard */

.PlayerBillboard 
{
	margin-top: 2px;	//prospective fix for textures bleeding out to the bottom of the panel
	background-color: none;
	flow-children: down;
	horizontal-align: center;
}

.PlayerBillboard.Hidden 
{
	visibility: collapse;
}

.PlayerPanel 
{
	flow-children: right;	
}

.HostHat 
{
	width: 150px;
	height: 65px;	
	margin-bottom: 10px;
	margin-left: 20px;
	horizontal-align: left;
	visibility: collapse;
}

.IsHost .HostHat 
{
	visibility: visible;	
}


.PlayerAvatarPanel 
{
	height: 184px;
	width: 184px;
	border-radius: 10px;
	background-color: black;
	border: 4px solid #ffffff30;	
	flow-children: none;
	transition-property: border;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;	
}

.PlayerNamePanel 
{
	background-color: background_center_gradient;
	height: 184px;
	border-radius: 10px;
	margin-left: 5px;
	border: 4px solid #ffffff30;
	flow-children: none;
	pre-transform-scale2d: 1;
	transition-property: border, background-color, pre-transform-scale2d;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;		
}

.MuteButton 
{
	background-color: background_center_gradient;
	height: 184px;
	border-radius: 10px;
	margin-left: 5px;
	border: 4px solid #ffffff30;
	flow-children: right;
	transition-property: border;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;		
}

.BackupIcon 
{
	opacity: .6;	
}

.SpeakingIcon 
{
	height: 184px;
	width: 184px;
	background-color: #000000ff;
	border-radius: 10px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;	
}

.MutedIcon,
.RedMutedIcon 
{
	height: 184px;
	width: 184px;
	background-color: #000000cc;
	border-radius: 10px;
	opacity: 0;
}

.PlayerName 
{
	color: white;
	font-size: 65px;
	font-weight: normal;
	vertical-align: center;
	margin-left: 75px;
	margin-right: 75px;

	transition-property: position, color, opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;	
}

.ClickLabel 
{
	color: white;
	font-size: 40px;
	font-weight: normal;
	margin-left: 30px;
	margin-right: 30px;	
	opacity: 0;
	vertical-align: center;
	horizontal-align: center;
	position: 0px 15px 0px;

	transition-property: position, color, opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;	
}

.PlayerNamePanel:hover
{
	background-color: background_center_gradient_hover;	
}

.PlayerNamePanel:active
{
	pre-transform-scale2d: .97;	
}

.PlayerNamePanel:hover .PlayerName
{
	opacity: 1;
	position: 0px -25px 0px;
}

.PlayerNamePanel:hover .ClickLabel
{
	opacity: .5;
	position: 0px 35px 0px;
}

.PlayerAvatarImage 
{
	width: 184px;
	height: 184px;
	//visibility: collapse;
}

.HasAvatarImage .PlayerAvatarImage 
{
	visibility: visible;
}

.IsTransmitting .PlayerNamePanel,
.IsTransmitting .PlayerAvatarPanel 
{
	border: 4px solid #ffffffff;
}

.IsTransmitting .SpeakingIcon 
{
	opacity: 1;
}

.MuteOthers .MutedIcon
{
	opacity: 1;	
}

.MuteMember .RedMutedIcon
{
	opacity: 1;	
}


@keyframes 'image-white-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
		background-color: black;
		blur: gaussian( 0.5 );
	}
	
	50%
	{
		pre-transform-scale2d: 1.0;
		background-color: #111111ff;
//		background-color: #2a2a78ff;
		blur: none;
	}
	

	100%
	{
		pre-transform-scale2d: 1.0;
		background-color: black;
		blur: gaussian( 0.5 );
	}
}	
