.InWorldDirectionPagePanel
{
	flow-children: none;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1;
}

.ToolInstruction
{
	vertical-align: center;
	horizontal-align: center;
	width: 250px;
	height: 50px;
	border-radius: 8px;
	padding: 15px;


}

.ToolText
{
	font-family: Motiva Sans;
	font-size: 16px;	
	color: #000000dd;
	font-weight: bold;
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
}

.airbrush_tool .ToolInstruction
{
	width: 125px;
	height: 125px;	
}

.airbrush_tool .ToolText
{
	color: #000000ee;	
}