TrackpadUIPanel
{
	width: 100%;
	height: 100%;
	background-color: none;
	flow-children: none;

    background-repeat: no-repeat;
    background-size: 600px 3600px;
	
	vertical-align: center;
	opacity: 1;

	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;    
   
}

.upper 
{
	background-color: none;
	width: 100%;
	height: 100%;
}

.Hidden TrackpadUIPanel
{
	opacity: 0;
}

.Visible TrackpadUIPanel 
{
	opacity: 1;
}

.GestureButton Label
{
	font-size: 16px;
	font-weight: bold;
	color: white;
	horizontal-align: center;
}

.GestureButton
{
	background-color: button_gradient;
	//horizontal-align: center;
	width: 150px;
	height: 150px;
	border: 2px solid black;
	border-radius: 75px;
	opacity: 1;
	transition-property: border, background-color, box-shadow, opacity;
	transition-duration: 0.23s;
	transition-timing-function: bigpicture-ease-in-out;	
}

#index_pointing
{
	transform: rotateZ( -5deg );
}

#open_hand
{
	transform: rotateZ( 5deg );
}

#closed_fist
{
	transform: rotateZ( 20deg );
}

#thumb_out
{
	transform: rotateZ( -20deg );
}

.highlight
{
	opacity: 1;
	background-color: button_gradient_bright;	
	pre-transform-scale2d: 1;
	border: 3px solid white;
	box-shadow: white 0px 0px 10px 0px;
}


.GestureButton:active {
	pre-transform-scale2d: .95;
}

.GestureImage
{
	width: 80%;
	height: 80%;
	vertical-align: center;
	horizontal-align: center;	
}

.outer
{
	flow-children: none;
    width: 100%;
    height: 100%;
}

.inner
{
	flow-children: none;
    width: 100%;
    height: 100%;
}

.inner Button
{
	width: 140px;
	height: 140px;
}

