SteamToursUGCImage
{
	width: 100%;
	height: 100%;
}

#UGCImage
{
	width: 100%;
	height: 100%;
	background-color: #000000;
}

.SteamLogoLoader
{
	width: 160px;
	height: 160px;
	horizontal-align: center;
	vertical-align: center;
}

.HasContent .SteamLogoLoader
{
	visibility: collapse;
}


.HiddenDesc
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.BlackBack
{
	width: 100%;
	height: 100%;
	background-color: #111111ff;
}


.HiddenIcon
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
}


.HiddenLabel
{
	color: #333333ff;
	font-size: 20px;
	margin-bottom: 30px;
	horizontal-align: center;
	vertical-align: bottom;
}

.HideUGC .HiddenDesc
{
	visibility: visible;
}

.HideUGC #UGCImage 
{
	opacity: 0;
}

