/* styles for the welcome panel */

DestinationsWelcomePanel {
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000ff ), to( #000000ee ) );
	border-radius: 10px;
}

.WelcomeTop {
	flow-children: right;
	width: 100%;
}

.Destinations_Title{
	width: 500px;
	height: 83px;
	horizontal-align: left;
	margin-top: 50px;
	margin-left: 50px;
}

//
// WELCOME STATE
// First time players get the Welcome message asking them to open the menu
//

.WelcomeBottom {
	visibility: collapse;
}


.Tutorial .WelcomeBottom {
	flow-children: right;
	width: 100%;
	visibility: visible;
}

.TextArea {
	font-family: "Motiva Sans";
	width: 55%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000cc ), to( #00000099 ) );
	margin: 20px 0px 40px 40px;
	padding: 40px;
	border-radius: 6px;
}

.ImageRight {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000cc ), to( #00000099 ) );
	margin: 20px 40px 30px 20px;
	border-radius: 6px;
	flow-children: none;
}

.PressMenuButton,
.PressYButton,
.PressBButton,
.PressBOrYButton
{
	color: #ccccccff;
	font-size: 30px;
	font-weight: light;
	text-align: left;
	padding-top: 20px;
	margin-left: 15px;
	visibility: collapse;
}

.MotionController,
.Controller,
.TouchImage,
.RiftSImage,
.KnucklesImage
{
	visibility: collapse;
}

// if no class set, it's a Vive
.MotionController,
.PressMenuButton {
	visibility: visible;	
}

// if it's a gamepad or a touch, show the relevant bits
.GamepadController .Controller,
.GamepadController .PressYButton,
.TouchController .TouchImage,
.TouchController .PressBOrYButton,
.RiftSController .RiftSImage,
.RiftSController .PressBOrYButton,
.KnucklesController .KnucklesImage,
.KnucklesController .PressBButton,
.CosmosController .CosmosImage,
.CosmosController .PressBOrYButton
{
	visibility: visible;	
}

// if it's a gamepad or a touch, hide vive controller bits
.GamepadController .MotionController,
.GamepadController .PressMenuButton,
.TouchController .MotionController,
.TouchController .PressMenuButton,
.RiftSController .MotionController,
.RiftSController .PressMenuButton,
.KnucklesController .MotionController,
.KnucklesController .PressMenuButton,
.CosmosController .MotionController,
.CosmosController .PressMenuButton
{
	visibility: collapse;	
}

//
// RETURN STATE
// Return players get a message highlighting workshop items
//

.UpdatesBottom {
	flow-children: right;
	width: 100%;
	height: 415px;

}

.Tutorial .UpdatesBottom {
	visibility: collapse;
}

.WorkshopItemsContainer {
	width: 100%;
}

.WorkshopItem {
	flow-children: right;
	width: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: mediumduration;
	transition-timing-function: bigpicture-ease-in-out;
}
.WorkshopItem.SlideshowItemVisible {
	visibility: visible;
	opacity: 1;
}


.UpdateDescArea {

	width: 550px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000099 ), to( #00000066 ) );
	margin: 20px 0px 0px 40px;
	padding: 20px;
	padding-top: 15px;
	border-radius: 6px;
}

.UpdateDesc,
.UpdateDescController,
.UpdateDescTouch,
.UpdateDescKnuckles,
.UpdateDescCosmos {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	color: white;
	font-size: 26px;
	font-weight: light;
	padding-top: 9px;
	visibility: collapse;
}

// if no class set, it's a Vive
.UpdateDesc
{
	visibility: visible;	
}

// if it's a gamepad or a touch, show the relevant bits
.GamepadController .UpdateDescController,
.TouchController .UpdateDescTouch,
.RiftSController .UpdateDescTouch,
.KnucklesController .UpdateDescKnuckles,
.CosmosController .UpdateDescCosmos
{
	visibility: visible;	
}

// if it's a gamepad or a touch, hide the irrelevant bits
.GamepadController .UpdateDesc,
.TouchController .UpdateDesc,
.RiftSController .UpdateDesc,
.KnucklesController .UpdateDesc,
.CosmosController .UpdateDesc
{
	visibility: collapse;	
}

.UpdateText {
	width: 300px;
	height: 40px;
	text-align: left;
	margin-left: 5px;
	color: #ccccccff;
	font-size: 25px;
	font-weight: light;
	padding-top: 10px;
}

.Slideshow_Wrapper
{
	flow-children: down;
	horizontal-align: right;
}

.Slideshow {
	flow-children: none; // slideshow images fade in and out on top of each other

	height: 300px;
	width: 300px;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 40px;
	border-radius: 6px;
	horizontal-align: right;
}


.SlideshowImage {
	margin-top: 0px;
}
.Slideshow1,
.Slideshow2,
.Slideshow3 {
	opacity: 0;
	transition-property: opacity;
	animation-name: slideshow-three-images;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


.Slideshow1 {
		animation-delay: 0s;
}

.Slideshow2 {
		animation-delay: 5s;
}

.Slideshow3 {
		animation-delay: 10s;
}



@keyframes 'slideshow-three-images'
{
	0%
	{
		opacity: 0;
	}

	3%
	{
		opacity: 1;
	}


	33%
	{
		opacity: 1;
	}

	36%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 0;
	}
}