body
{
	background: none;
	font-family: var(--text-font);
}

.VRNotificationRoot
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.VRNotificationApplicationName
{
	text-align: center;
	font-weight: 500;
	font-size: 1.5rem;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.VRNotificationFrame
{
	background: linear-gradient( 130deg, #329ABF 0%, #0A264E 100% );
	flex-grow: 1;
	border-radius: 5px;
	margin: 10px;
	margin-top: 0;
	padding-left: 5px;
	padding-right: 20px;
	box-shadow: 0px 0px 10px 0px #00000070;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	font-size: 1.1rem;
	line-height: 1.4rem;
	color: white;
}

.VRToastImage
{
	--toast-image-size: 100px;
	background-size: contain;
	height: var(--toast-image-size);
	width: var(--toast-image-size);
	flex-shrink: 0;
	margin: auto;
	margin-right: 15px;
	display: flex;
}

.VRNotificationTextWrapper
{
	margin: auto;
	flex-grow: 1;
}

.VRNotificationHeader
{
	font-size: 1em;
	font-weight: 600;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 0.2em;
}

.VRNotificationHeader:empty
{
	display: none;
}

.VRNotificationText
{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.VRHintButton
{
	height: 100%;
	margin: auto;
	margin-left: 15px;
	flex-shrink: 0;
}