.InWorldSubtitlePanel
{
	width: 120px;
    height: 80px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000ee ), to( #000000dd ) );
	background-color:rgb(200,30,30);
	//font-family: Motiva Sans;
	font-family: RadianceM;
	font-size: 70px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: none;

	border-radius: 20px;
	//border: 2px solid white;
	opacity: 1;
}

.Subtitle
{
	width: 95%;
	height: 95%;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	text-align: left;
	text-overflow: clip;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 0px solid white;
	flow-children: down;
}


#TutorialText
{
	//margin-top: 16px;
	horizontal-align: center;
	vertical-align: center; 
}

.InWorldSubtitlePanel.Hidden
{
	opacity: 0;
}

.InWorldSubtitlePanel.Activated
{
	opacity: 1;
}

.InWorldSubtitlePanel.Small
{
	font-size: 70px;
}


.InWorldSubtitlePanel.Big
{
	font-size: 70px;
}